Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Make FrontendServerClient start the frontend server from AOT snapshot by default
  frontend_server_client/lib/src/frontend_server_client.dart
Labels: package:frontend_server_client

Update
  frontend_server_client/CHANGELOG.md
  frontend_server_client/lib/src/frontend_server_client.dart
  frontend_server_client/pubspec.yaml
  frontend_server_common/CHANGELOG.md
  test_common/lib/test_sdk_layout.dart
Labels: package:frontend_server_client

Apply suggestions from code review
  frontend_server_client/lib/src/frontend_server_client.dart
Labels: package:frontend_server_client

Keeping the first instance of an app connection and extending timeouts
  dwds/test/devtools_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/reload_test.dart
  dwds/test/run_request_test.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds

formatting files
  dwds/test/run_request_test.dart
Labels: package:dwds

Defer changes in v3.3.0-wip to v4.0.0-wip
  dwds/lib/src/debugging/location.dart
  frontend_server_client/CHANGELOG.md
  frontend_server_client/lib/src/frontend_server_client.dart
  frontend_server_client/pubspec.yaml
  frontend_server_common/lib/src/frontend_server_client.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds, package:frontend_server_client

Add a test for classes
  dwds/test/instances/class_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds

Fix non_nullable_equals_parameter analyzer error
  dwds/lib/src/debugging/location.dart
Labels: package:dwds

Fix failing test
  dwds/test/instances/common/instance_common.dart
Labels: package:dwds

Ignore instead
  dwds/lib/src/debugging/location.dart
Labels: package:dwds

Fix static analysis error
  dwds/lib/src/debugging/location.dart
Labels: package:dwds

Update tests to match new type system
  dwds/test/inspector_test.dart
  dwds/test/variable_scope_test.dart
  webdev/test/e2e_test.dart
Labels: package:dwds, package:webdev

Revert back to fix'
  dwds/lib/src/debugging/location.dart
Labels: package:dwds

Change webdev version back to 3.3.0-wip
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Work in progress
  dwds/test/instances/common/instance_common.dart
  webdev/test/e2e_test.dart
Labels: package:dwds, package:webdev

blast_repo fixes
  .github/workflows/no-response.yml
Labels: type-infra

Account for Dart SDK version
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
Labels: package:dwds

Wip
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

wip
  test_common/lib/utilities.dart
Labels: none

Fixed the DWDS tests?
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
Labels: package:dwds

Commit in parent directory
  test_common/lib/utilities.dart
Labels: none

Remove accidental chagne
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

Fix webdev test
  webdev/test/e2e_test.dart
Labels: package:webdev

Fix frontend_server_client tests
  frontend_server_client/pubspec.yaml
  frontend_server_client/test/frontend_sever_client_test.dart
Labels: package:frontend_server_client

Always skip frontend server test
  frontend_server_client/pubspec.yaml
  frontend_server_client/test/frontend_sever_client_test.dart
Labels: package:frontend_server_client

PR comments
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  test_common/lib/utilities.dart
Labels: package:dwds

Fix Object? in == operator
  dwds/lib/src/debugging/location.dart
Labels: package:dwds

cleanup
  .github/workflows/no_response.yml
Labels: type-infra

Fix test cases failing with latest Dart SDK (#2312)
  dwds/lib/src/debugging/location.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  webdev/test/e2e_test.dart
Labels: package:dwds, package:frontend_server_client, package:webdev

Add a test for Class inspection (#2310)
  dwds/test/instances/class_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds

Prepare DWDS for release to version 23.0.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Fix `cast` error when debugging from VSCode (#2303)
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

Add a test for Class inspection (#2310)
  dwds/test/instances/class_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds

Prepare DWDS for hotfix release to version 21.0.0+1
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Fix analyzer error
  dwds/lib/src/debugging/location.dart
Labels: package:dwds

Fix class_inspection_test
  dwds/test/instances/class_inspection_test.dart
Labels: package:dwds

Fix test cases failing with latest Dart SDK (#2312)
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
Labels: package:dwds, package:frontend_server_client

Prepare DWDS for release to version 23.0.0 (#2318)
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Run mono_repo generate
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Revert "Fix test cases failing with latest Dart SDK (#2312)"
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
Labels: package:dwds, package:frontend_server_client

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
