Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*

Fix the Puppeteer tests for the Debug Extension (#2152)
  dwds/.gitignore
  dwds/pubspec.yaml
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds

Reset Webdev to 3.0.6-wip
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Reset Webdev to 3.0.6-wip (#2154)
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Shard MV2 and MV3 extension tests (#2153)
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/extension_test_mv2.dart
  dwds/test/puppeteer/extension_test_mv3.dart
Labels: package:dwds

Use DDC debugger API
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  fixtures/_webdevSoundSmoke/web/main.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

Fix analyzer warnings
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/libraries.dart
Labels: package:dwds

Cleanup
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/instance_test.dart
Labels: package:dwds

Run instance tests with frontend server
  dwds/test/fixtures/context.dart
  dwds/test/instances/instance_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
Labels: package:dwds

Cleanup
  frontend_server_common/lib/src/asset_server.dart
Labels: none

Run instance tests with frontend server and build daemon
  dwds/test/fixtures/context.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
Labels: package:dwds

Try fixing tests
  dwds/test/evaluate_common.dart
  dwds/test/fixtures/context.dart
  dwds/test/instances/instance_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
Labels: package:dwds

Handle null value in setUpChromeConsoleListeners
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Add canary option to webdev and expression compiler worker
  dwds/lib/src/services/expression_compiler_service.dart
  fixtures/_webdevSoundSmoke/build.yaml
  fixtures/_webdevSoundSmoke/web/main.dart
  webdev/lib/src/command/configuration.dart
  webdev/lib/src/command/shared.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Addressed CR comments and fixed failing tests
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/loaders/require.dart
  dwds/test/evaluate_common.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/instances/instance_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
Labels: package:dwds

update pubspec and build
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Require AssetReader to provide a base path
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/loaders/frontend_server_require.dart
  dwds/lib/src/readers/asset_reader.dart
  dwds/lib/src/readers/frontend_server_asset_reader.dart
  dwds/lib/src/readers/proxy_server_asset_reader.dart
  dwds/lib/src/services/debug_service.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/server.dart
  dwds/test/readers/frontend_server_asset_reader_test.dart
  frontend_server_common/lib/src/asset_server.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

regenerate from the latest mono_repo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Add an option to run wuth --canary flag to frontend server tests
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

Handle potential `null` value in `setUpChromeConsoleListeners` (#2162)
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Prepare DWDS for release to version 19.0.2
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Prepare DWDS for release to version 19.0.2 (#2166)
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Reset DWDS after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Prepare webdev for release to 3.0.6
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Fix test failures on windows
  frontend_server_common/lib/src/devfs.dart
Labels: none

Reset DWDS after release (#2168)
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Merge with master
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Add tests
  dwds/test/fixtures/context.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_common.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

Add canary option for build daemon tests
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/test/fixtures/context.dart
  webdev/lib/src/command/configuration.dart
  webdev/lib/src/command/shared.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Run instance tests with frontend server (#2160)
  dwds/CHANGELOG.md
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/loaders/frontend_server_require.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/readers/asset_reader.dart
  dwds/lib/src/readers/frontend_server_asset_reader.dart
  dwds/lib/src/readers/proxy_server_asset_reader.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/evaluate_common.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/instances/instance_test.dart
  dwds/test/readers/frontend_server_asset_reader_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
Labels: package:dwds

regenerate from the latest mono_repo (#2165)
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Simplfy tests and update min SDK version
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/pubspec.yaml
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_common.dart
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackage/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_common/lib/src/frontend_server_client.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev, dart-debug-extension

Update changelog
  dwds/CHANGELOG.md
Labels: package:dwds

Prepare webdev for release to 3.0.6 (#2167)
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Reset webdev to version 3.0.7-wip
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Add option of running frontend server tests in canary mode (#2169)
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  dwds/test/instances/instance_canary_test.dart
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackage/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/test/sdk_asset_generator_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev, dart-debug-extension

Updated build_web_compilers and added tests
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/pubspec.yaml
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_test.dart
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/README.md
  webdev/lib/src/pubspec.dart
Labels: package:dwds, package:webdev, dart-debug-extension

Fix webdev test failure
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
  webdev/test/integration_test.dart
Labels: package:webdev

Updated PR reference and built
  dwds/CHANGELOG.md
  webdev/lib/src/version.dart
Labels: package:dwds, package:webdev

Reset webdev to version 3.0.7-wip (#2170)
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev
