Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Remove import
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Wip
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Create a ToolConfiguration
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/globals.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds

Format and fix
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/dart_uri.dart
Labels: package:dwds

Forgot to commit
  dwds/lib/src/config/debug_settings.dart
  dwds/test/dart_uri_test.dart
  dwds/test/fixtures/utilities.dart
Labels: package:dwds

add some markers for test failures
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Update tests
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds

Try to make test more reliable
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Respond to PR comments
  dwds/lib/config.dart
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/dwds.dart
  dwds/lib/src/config/app_metadata.dart
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/globals.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Update interface
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Remove accidental edit
  dwds/CHANGELOG.md
Labels: package:dwds

wrong type
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Update interface for `ChromeProxyService.getSourceReport` (#2235)
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Add a new workspaceName parameter to DWDS on start up
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/client.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Add a new workspaceName parameter to DWDS on start up (#2237)
  dwds/CHANGELOG.md
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/client.dart
Labels: package:dwds

Rename plainUri to debugUri and send it to the extension
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds, dart-debug-extension

Intial commit to test running the Puppeteer tests on CI
  .github/workflows/puppeteer.yml
  dwds/debug_extension_mv3/web/background.dart
  dwds/test/puppeteer/dowload_chromium.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: type-infra, package:dwds, dart-debug-extension

Silly typo
  dwds/test/puppeteer/download_chromium.dart
Labels: package:dwds

Rename plainUri to debugUri and send it to the extension (#2238)
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds, dart-debug-extension

Add delete conflicting outputs
  dwds/debug_extension_mv3/tool/build_extension.dart
Labels: package:dwds, dart-debug-extension

Add in missing 'run'
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Run on linux?
  .github/workflows/puppeteer.yml
  dwds/dart_test.yaml
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/extension_test_mv2.dart
  dwds/test/puppeteer/extension_test_mv3.dart
Labels: type-infra, package:dwds

Missing runs-on
  .github/workflows/puppeteer.yml
Labels: type-infra

Fix tags
  dwds/test/puppeteer/mv2_extension_test.dart
  dwds/test/puppeteer/mv3_extension_test.dart
Labels: package:dwds

Committed in wrong directory
  .github/workflows/puppeteer.yml
Labels: type-infra

Prepare the Dart Debug Extension for release to version 1.36
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

try this for the linux test
  .github/workflows/puppeteer.yml
Labels: type-infra

Only run on macos
  .github/workflows/puppeteer.yml
Labels: type-infra

Change how we are waiting for dart app detection
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Prepare the Dart Debug Extension for release to version 1.36 (#2241)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Fix issue with the inspector panel
  dwds/debug_extension_mv3/web/utils.dart
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds, dart-debug-extension

Fix issue with the inspector panel in the Dart Debug Extension (#2242)
  dwds/debug_extension_mv3/web/utils.dart
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds, dart-debug-extension

retry tests
  .github/workflows/puppeteer.yml
Labels: type-infra

Refactor tests to handle new ToolConfiguration
  dwds/test/dart_uri_test.dart
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/debugger_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/test/reload_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds

Fix analyzer errors
  dwds/test/fixtures/context.dart
Labels: package:dwds

Remove import
  dwds/test/fixtures/context.dart
Labels: package:dwds

Try to run the tests from pub
  webdev/test/e2e_common.dart
  webdev/test/e2e_local_test.dart
  webdev/test/e2e_pub_test.dart
  webdev/test/test_utils.dart
Labels: package:webdev

Revert "Remove import"
  dwds/test/fixtures/context.dart
Labels: package:dwds

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
