Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Run mono_repo generate
  .github/workflows/dart.yml
  webdev/mono_pkg.yaml
Labels: type-infra, package:webdev

Reapply "Fix test cases failing with latest Dart SDK (#2312)"
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
Labels: package:dwds, package:frontend_server_client

Disable tests on main again
  .github/workflows/dart.yml
  dwds/mono_pkg.yaml
Labels: type-infra, package:dwds

Prepare a hotfix release of DWDS 21.0.0+1 (#2319)
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/version.dart
  dwds/mono_pkg.yaml
  dwds/pubspec.yaml
  dwds/test/inspector_test.dart
  dwds/test/instances/class_inspection_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  fixtures/_experimentSound/web/main.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
Labels: type-infra, package:dwds, package:frontend_server_client, package:webdev

Fix `cast` error when debugging from VSCode (#2303)
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

Add a test for Class inspection (#2310)
  dwds/test/instances/class_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds

Disable tests on main
  .github/workflows/dart.yml
  dwds/mono_pkg.yaml
  tool/ci.sh
Labels: type-infra, package:dwds

Fix class_inspection_test
  dwds/test/instances/class_inspection_test.dart
Labels: package:dwds

Cherrypick 546a0373b982b7d9ae693873fa5c53646df1920f
  dwds/lib/src/debugging/location.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  webdev/test/e2e_test.dart
Labels: package:dwds, package:frontend_server_client, package:webdev

Update pubspec
  dwds/pubspec.yaml
Labels: package:dwds

Update version
  dwds/lib/src/version.dart
Labels: package:dwds

Disable main on webdev
  .github/workflows/dart.yml
  webdev/mono_pkg.yaml
Labels: type-infra, package:webdev

Prepare a hotfix release of DWDS 22.1.0+1 (#2321)
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/version.dart
  dwds/mono_pkg.yaml
  dwds/pubspec.yaml
  dwds/test/inspector_test.dart
  dwds/test/instances/class_inspection_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  fixtures/_experimentSound/web/main.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
  webdev/test/e2e_test.dart
Labels: type-infra, package:dwds, package:frontend_server_client, package:webdev

Reset DWDS after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Prepare Webdev for release to version 3.3.0
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
