Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Update webdev test
  webdev/test/installation_test.dart
Labels: package:webdev

Address CR comments
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/services/javascript_builder.dart
  dwds/test/javascript_builder_test.dart
Labels: package:dwds

Fix a bug when adding this to scope
  dwds/lib/src/services/expression_evaluator.dart
Labels: package:dwds

Included requested-by header in `ProxyServerAssetReader` (#2129)
  dwds/lib/src/readers/proxy_server_asset_reader.dart
Labels: package:dwds

Support using scope in evaluateInFrame (#2122)
  dwds/CHANGELOG.md
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/services/javascript_builder.dart
  dwds/test/evaluate_common.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/javascript_builder_test.dart
  fixtures/_testPackage/web/main.dart
  fixtures/_testPackageSound/web/main.dart
Labels: package:dwds

Clean up
  webdev/test/installation_test.dart
Labels: package:webdev

remove unnecessary async
  dwds/lib/src/services/expression_evaluator.dart
Labels: package:dwds

Fail early on SEVERE output
  webdev/test/installation_test.dart
Labels: package:webdev

Run DCM workflow against PR
  .github/workflows/dcm.yml
Labels: type-infra

Forgot run
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Reset utilities
  dwds/test/fixtures/utilities.dart
Labels: package:dwds

Reset utilities
  test_common/lib/utilities.dart
Labels: none

Run DCM workflow against PR branch (#2131)
  .github/workflows/dcm.yml
Labels: type-infra

Revert build changes
  dwds/debug_extension_mv3/tool/build_extension.dart
Labels: package:dwds, dart-debug-extension

Add normal extension test
  .github/workflows/puppeteer.yml
  dwds/test/fixtures/context.dart
Labels: type-infra, package:dwds

list extension dir
  .github/workflows/puppeteer.yml
  dwds/test/puppeteer/test_utils.dart
Labels: type-infra, package:dwds

Print debugging
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds, dart-debug-extension

Remove unnecessary `async` keywords(#2130)
  dwds/lib/src/services/expression_evaluator.dart
Labels: package:dwds

try this
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds, dart-debug-extension

Add Webdev installation test (#1935)
  webdev/test/installation_test.dart
Labels: package:webdev

dart pub upgrade for debug extension
  .github/workflows/puppeteer.yml
Labels: type-infra

Try running extension tests on CI
  .github/workflows/puppeteer.yml
  dwds/.gitignore
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/pubspec.yaml
  dwds/test/puppeteer/download_chromium.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/test_utils.dart
Labels: type-infra, package:dwds, dart-debug-extension

Pin build_runner version
  dwds/debug_extension_mv3/pubspec.yaml
Labels: package:dwds, dart-debug-extension

Wip
  .github/workflows/daily_testing.yml
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/test/puppeteer/extension_test.dart
Labels: type-infra, package:dwds, dart-debug-extension

Catch WipError on resume and map to RPC error
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Update DCM workflow
  .github/workflows/dcm.yml
Labels: type-infra

Add more tests to daily testing cron job
  .github/workflows/daily_testing.yml
  dwds/test/expression_compiler_service_test.dart
  dwds/test/expression_evaluator_test.dart
  webdev/test/installation_test.dart
Labels: type-infra, package:dwds, package:webdev

Remove tabs permission
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Update changelog comment
  dwds/CHANGELOG.md
Labels: package:dwds

Catch `WipError` on calls to resume and map to appropriate RPC error code (#2134)
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Double the timeout for the webdev installation test
  webdev/test/installation_test.dart
Labels: package:webdev

Remove tabs permission (#2136)
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Update Dart Debug Extension version in preparation for publishing
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Double the timeout for the webdev installation test (#2137)
  webdev/test/installation_test.dart
Labels: package:webdev

Update DCM workflow (#2135)
  .github/workflows/dcm.yml
Labels: type-infra

Update Dart Debug Extension version in preparation for publishing (#2139)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Use new error codes from package:vm_service
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/domain.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds

Hostname is not respected when tls options are specified
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev

Hostname is not respected when tls options are specified
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
