Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Restructuring asset bundling and flags
  dwds/lib/src/services/expression_compiler.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

Restructuring asset bundling and flags
  test_common/lib/test_sdk_configuration.dart
Labels: none

Updating test sdk paths
  test_common/lib/test_sdk_layout.dart
Labels: none

Moving the module format specifier to an enum and unioning static assets across module formats
  dwds/lib/expression_compiler.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/test/evaluate_common.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/frontend_server_ddc_evaluate_sound_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

Fixing analysis errors
  dwds/test/fixtures/context.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds

Exposing utilities/ddc_names.dart
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
Labels: package:dwds

removing extraneous export
  dwds/lib/dwds.dart
Labels: package:dwds

Add file a bug button
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

Remove settings page
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/settings.dart
  dwds/debug_extension_mv3/web/static_assets/settings.html
Labels: package:dwds, dart-debug-extension

Remove settings test
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Format
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/popup.dart
Labels: package:dwds, dart-debug-extension

Update version
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Fix analyzer errors
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds, dart-debug-extension

More analyze errors
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds, dart-debug-extension

Add popup for copying the app ID (#2299)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/settings.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
  dwds/debug_extension_mv3/web/static_assets/settings.html
  dwds/debug_extension_mv3/web/static_assets/styles.css
  dwds/debug_extension_mv3/web/utils.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds, dart-debug-extension

Send inspector URL to cider
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Clean up
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

More clean up
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Send the Flutter inspector URL to Cider when requested (#2301)
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Fixing race condition without extraneous plumbing.
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
Labels: package:dwds

Send connection response to Cider
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Extending tests and restructuring logic into helpers
  dwds/lib/src/services/expression_compiler.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

Send connection response to Cider (#2302)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Fix cast error
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Send over script uri
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/services/batched_expression_evaluator.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  frontend_server_common/lib/src/frontend_server_client.dart
Labels: package:dwds

Try migration to package:web
  dwds/lib/src/injected/client.js
  dwds/pubspec.yaml
  dwds/web/client.dart
  dwds/web/reloader/legacy_restarter.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/require_restarter.dart
  dwds/web/run_main.dart
  dwds/web/web_utils.dart
  fixtures/_webdevSoundSmoke/web/main.dart
Labels: package:dwds

Match the bug
  dwds/lib/src/injected/client.js
  dwds/web/run_main.dart
Labels: package:dwds

Extending sdk config tests and moving autorun functionality into the test context.
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds

Fix `cast` error when debugging from VSCode (#2303)
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

Made it work
  dwds/lib/src/injected/client.js
  dwds/web/reloader/require_restarter.dart
  dwds/web/run_main.dart
  dwds/web/web_utils.dart
  fixtures/_webdevSoundSmoke/web/main.dart
Labels: package:dwds

Fixing analysis errors
  dwds/test/expression_compiler_service_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds

adding missing DDC sound sdks to asset generator test
  test_common/test/sdk_asset_generator_test.dart
Labels: none

Fixing ddc and amd paths
  test_common/test/sdk_asset_generator_test.dart
Labels: none

Cleanup
  dwds/web/reloader/require_restarter.dart
  dwds/web/web_utils.dart
Labels: package:dwds

Update changelog and build
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
Labels: package:dwds

Update chacngelog
  dwds/CHANGELOG.md
Labels: package:dwds

Fix TestSdkConfigurationProvider.dispose
  test_common/lib/test_sdk_configuration.dart
Labels: none

Fix TestSdkConfigurationProvider.dispose (#2308)
  test_common/lib/test_sdk_configuration.dart
Labels: none

Update package:vm_service constraints to allow version 14.x
  dwds/CHANGELOG.md
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
