Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Run the Webdev tests daily with the Dart stable SDK (#2251)
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Prepare DWDS for release to version 22.0.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Prepare DWDS for release to version 22.0.0 (#2254)
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Prepare Webdev for release to 3.1.0
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Reset DWDS to 22.1.0-wip after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Remove Chrome 115 extension error
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Only notify for failures
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Prepare Webdev for release to 3.1.0 (#2255)
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Reset DWDS to 22.1.0-wip after release (#2256)
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Reset Webdev to 3.2.0-wip after release
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Reset Webdev to 3.2.0-wip after release (#2260)
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Remove Chrome 115 extension error (#2258)
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Only notify chatroom when daily stable testing fails (#2259)
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Not quite working
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Update to package:lints v3
  dwds/lib/src/debugging/remote_debugger.dart
  dwds/lib/src/utilities/conversions.dart
  dwds/lib/src/utilities/objects.dart
  dwds/pubspec.yaml
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/location_test.dart
  dwds/test/skip_list_test.dart
  test_common/pubspec.yaml
Labels: package:dwds

Add dependency on `package:vm_service_interface`
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/refresh_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  webdev/CHANGELOG.md
Labels: package:dwds, package:webdev

Update CHANGELOG.md
  webdev/CHANGELOG.md
Labels: package:webdev

Update DDS to ^3.0.0
  dwds/pubspec.yaml
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev

wip
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

Popup is working as expected
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
Labels: package:dwds, dart-debug-extension

Remove unused code
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Add dependency on `package:vm_service_interface` (#2262)
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/refresh_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev

Update tests
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Clean up tests
  dwds/test/puppeteer/lifeline_test.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

wip
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
Labels: package:dwds, dart-debug-extension

Add chrome.tabs.sendMessage
  dwds/debug_extension_mv3/web/chrome_api.dart
Labels: package:dwds, dart-debug-extension

I believe we need to send response back
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Roll package:vm_service to 13.0.0
  dwds/CHANGELOG.md
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/pubspec.yaml
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/events_test.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/refresh_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev

Update changelogs
  dwds/CHANGELOG.md
  webdev/CHANGELOG.md
Labels: package:dwds, package:webdev

Roll package:vm_service to 13.0.0 (#2265)
  dwds/CHANGELOG.md
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/pubspec.yaml
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/events_test.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/refresh_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev

Prepare DWDS for release to version 22.1.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Prepare DWDS for release to version 22.1.0 (#2266)
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Working for MV2
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Reset DWDS after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Prepare webdev for release to 3.2.0
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Add space
  webdev/CHANGELOG.md
Labels: package:webdev

Reset DWDS after release (#2267)
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Prepare webdev for 3.2.0 (#2268)
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Reset Webdev to 3.3.0-wip after release
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Update manifests
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
