Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*

Prepare DWDS for release to version 21.0.0 (#2221)
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Prepare Webdev for release to 3.0.8
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Reset DWDS after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Prepare Webdev for release to 3.0.8 (#2224)
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Reset Webdev after release
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Maybe bring to front will help
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Reset DWDS after release (#2225)
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Reset Webdev after release (#2227)
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Clear the map of relative URIs on DartUri.clear()
  dwds/lib/src/utilities/dart_uri.dart
Labels: package:dwds

Update the comment for lookupResolvedPackageUris
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Update old dartlang.org links to new .dev equivalents (#2210)
  dwds/README.md
  dwds/lib/src/utilities/dart_uri.dart
  webdev/README.md
  webdev/lib/src/pubspec.dart
  webdev/test/integration_test.dart
Labels: package:dwds, package:webdev

Fix a few minor spelling mistakes (#2209)
  .github/workflows/changelog_reminder.yml
  dwds/CONTRIBUTING.md
  dwds/debug_extension/web/background.dart
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/storage.dart
  dwds/lib/data/extension_request.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/execution_context.dart
  dwds/lib/src/events.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/handlers/socket_connections.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/events_test.dart
  dwds/test/load_strategy_test.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/lifeline_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/restarter.dart
  frontend_server_client/README.md
  test_common/lib/logging.dart
  webdev/test/configuration_test.dart
  webdev/test/integration_test.dart
Labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Replace deprecated lints (#2208)
  analysis_options.yaml
Labels: none

[webdev] Hide `--null-safety` option (#2206)
  webdev/CHANGELOG.md
  webdev/README.md
  webdev/lib/src/command/shared.dart
Labels: package:webdev

Avoid passing a nullable value to Future<nn-type>.value or Completer<nn-type>.completer. (#2205)
  dwds/lib/src/services/batched_expression_evaluator.dart
Labels: package:dwds

Run tests against Dart stable
  .github/workflows/dart.yml
  dwds/mono_pkg.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
Labels: type-infra, package:dwds, package:webdev

Run tests against Dart stable
  .github/workflows/dart.yml
  dwds/mono_pkg.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
Labels: type-infra, package:dwds, package:webdev

Update DCM triggers to match Dart DevTools
  .github/workflows/dcm.yml
Labels: type-infra

Update DCM triggers to match Dart DevTools (#2230)
  .github/workflows/dcm.yml
Labels: type-infra

Change parameters to Dwds.start
  dwds/lib/asset_reader.dart
  dwds/lib/config.dart
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/dwds.dart
  dwds/lib/src/config/app_metadata.dart
  dwds/lib/src/config/debug_settings.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/readers/asset_reader.dart
  dwds/lib/src/servers/devtools.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/globals.dart
  dwds/test/dart_uri_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/handlers/injector_test.dart
  dwds/web/client.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/resident_runner.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Update build.yaml
  dwds/build.yaml
Labels: package:dwds

Fix the build
  dwds/build.yaml
  dwds/lib/src/injected/client.js
Labels: package:dwds

Fix generating client.js
  dwds/build.yaml
  dwds/lib/src/injected/client.js
Labels: package:dwds

test the latest setup-dart action
  .github/workflows/daily_testing.yml
  .github/workflows/dart.yml
  .github/workflows/dcm.yml
  .github/workflows/release_reminder.yml
Labels: type-infra

Only JS file type is need in required_inputs
  dwds/build.yaml
Labels: package:dwds

Fix copying over `client.dart.js` to `client.js` when build DWDS (#2232)
  dwds/build.yaml
  dwds/lib/src/injected/client.js
Labels: package:dwds

test the latest setup-dart action (#2233)
  .github/workflows/daily_testing.yml
  .github/workflows/dart.yml
  .github/workflows/dcm.yml
  .github/workflows/release_reminder.yml
Labels: type-infra

Add back in new line
  dwds/CHANGELOG.md
  dwds/build.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Also update WebDev CHANGELOG
  webdev/CHANGELOG.md
Labels: package:webdev

Update tests
  dwds/lib/src/config/debug_settings.dart
  dwds/test/dart_uri_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
Labels: package:dwds

Good stopping point
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/storage.dart
  dwds/lib/data/debug_info.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/src/injected/client.js
Labels: package:dwds, dart-debug-extension

Implement TODOs
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Update TODOs
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Clean up manifest.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Web debugging from cider works
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Clean up
  dwds/debug_extension_mv3/web/cider_connection.dart
Labels: package:dwds, dart-debug-extension

Allow the Dart Debug Extension to communicate with Cider (#2234)
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/storage.dart
  dwds/lib/data/debug_info.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/src/injected/client.js
Labels: package:dwds, dart-debug-extension

Add a bit of a wait
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Try waiting for Dart detection this way
  dwds/debug_extension_mv3/web/background.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds, dart-debug-extension

Add logging
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds
