Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Update for latest sdk changes
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/test/instances/instance_test.dart
Labels: package:dwds

cleanup and add tests
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_common.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
Labels: package:dwds

Allow running build daemon tests in canary mode (#2171)
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_test.dart
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/README.md
  webdev/lib/src/command/configuration.dart
  webdev/lib/src/command/shared.dart
  webdev/lib/src/pubspec.dart
  webdev/lib/src/serve/webdev_server.dart
  webdev/test/integration_test.dart
Labels: package:dwds, package:webdev, dart-debug-extension

Updated issue reference
  dwds/CHANGELOG.md
Labels: package:dwds

Remove unused API
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/fakes.dart
Labels: package:dwds

Try making it work with current sdk changes
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/runtime.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/utilities/domain.dart
  dwds/lib/src/utilities/objects.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  fixtures/_webdevSoundSmoke/build.yaml
  fixtures/_webdevSoundSmoke/web/main.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Cleanup
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/runtime.dart
  dwds/lib/src/utilities/domain.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/instances/instance_common.dart
  dwds/test/instances/instance_inspection_canary_test.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/test_inspector.dart
  dwds/test/instances/type_inspection_test.dart
  fixtures/_webdevSoundSmoke/build.yaml
  fixtures/_webdevSoundSmoke/web/main.dart
Labels: package:dwds

Cleanup
  dwds/lib/src/debugging/classes.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/instances/instance_common.dart
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSoundSmoke/canary_build.yaml
  fixtures/_webdevSoundSmoke/web/main.dart
  frontend_server_common/lib/src/asset_server.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Cleanup
  dwds/test/instances/type_inspection_test.dart
  fixtures/_webdevSoundSmoke/canary_build.yaml
Labels: package:dwds

Refactor instance tests
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
Labels: package:dwds

Split out the common instance tests
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
Labels: package:dwds

Refactor instance tests (#2174)
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
Labels: package:dwds

Move object tests out instance tests
  dwds/test/objects_test.dart
Labels: package:dwds

Split out common parts of instance tests in preparation for adding canary tests (#2176)
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  dwds/test/objects_test.dart
Labels: package:dwds

Cleanup
  dwds/test/instances/common/instance_common.dart
  fixtures/_webdevSoundSmoke/web/main.dart
Labels: package:dwds

Update SDK min consrraint to require new debugger runtime API
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/lib/src/debugging/instance.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
  example/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev, dart-debug-extension

Cleanup
  dwds/lib/src/debugging/instance.dart
  dwds/test/instances/common/test_inspector.dart
Labels: package:dwds

Temporarily only test on main
  .github/workflows/dart.yml
  dwds/mono_pkg.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
Labels: type-infra, package:dwds, package:webdev

More running on main
  .github/workflows/dart.yml
  fixtures/_webdevSoundSmoke/mono_pkg.yaml
Labels: type-infra

More running on main
  example/mono_pkg.yaml
Labels: none

More running on main
  .github/workflows/dart.yml
Labels: type-infra

Fix failing webdev test
  fixtures/_webdevSoundSmoke/build.yaml
Labels: none

Remove unnecessary asyncs
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
Labels: package:dwds

Run type system verification tests for non-canary mode as well
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_test.dart
Labels: package:dwds

Now run CI on dev
  .github/workflows/dart.yml
  dwds/mono_pkg.yaml
  example/mono_pkg.yaml
  fixtures/_webdevSoundSmoke/mono_pkg.yaml
  webdev/mono_pkg.yaml
Labels: type-infra, package:dwds, package:webdev

Show a warning in Dart debug extension if using a debug command that will cause the page to crash
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Update debug extension version
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Respond to PR comments
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Skip flaky test
  dwds/test/events_test.dart
Labels: package:dwds

Formatted
  dwds/test/events_test.dart
Labels: package:dwds

Dart Debug Extension: don't forward events to Chrome that will cause a crash (#2179)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Try to fix test
  dwds/test/devtools_test.dart
Labels: package:dwds

Fix test failures (#2182)
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
Labels: package:dwds

Fix error handling issue and add test
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds

Update fix and test
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds

Prepare branch for release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Fix devtools test - https://github.com/dart-lang/webdev/pull/2182
  dwds/test/devtools_test.dart
Labels: package:dwds

Skip events test - https://github.com/dart-lang/webdev/pull/2182
  dwds/test/events_test.dart
Labels: package:dwds

Format
  dwds/test/events_test.dart
Labels: package:dwds

Catch WipError on resume and map to RPC error
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
