Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*

Add TODOs
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/dart_uri.dart
Labels: package:dwds

Fix conflicting webdev smoke package names.
  fixtures/_webdevSoundSmoke/pubspec.yaml
Labels: none

Allow client to specify a way to convert an absolute path into a g3-relative path (#2200)
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/globals.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds

Fix conflicting webdev smoke package names. (#2202)
  fixtures/_webdevSoundSmoke/pubspec.yaml
Labels: none

Find package config another way
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/load_strategy_test.dart
Labels: package:dwds

Update test
  dwds/test/load_strategy_test.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Pass the package config directly to the load strategy instead of depending on an app entrypoint (#2203)
  dwds/CHANGELOG.md
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/load_strategy_test.dart
Labels: package:dwds

Hide null-safety option
  webdev/README.md
  webdev/lib/src/command/shared.dart
Labels: package:webdev

Add changelog entry
  webdev/CHANGELOG.md
Labels: package:webdev

Adjust changelog to be more accurate
  webdev/CHANGELOG.md
Labels: package:webdev

Update SDK constraints for Dart 3.1 release
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/pubspec.yaml
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackage/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_client/CHANGELOG.md
  frontend_server_client/pubspec.yaml
  frontend_server_client/test/frontend_sever_client_test.dart
  frontend_server_common/pubspec.yaml
  test_common/pubspec.yaml
  tool/ci.sh
  tool/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Replace deprecated lints
  analysis_options.yaml
Labels: none

Take advantage of expanded type promotion to fix diagnostics
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/utilities/objects.dart
  webdev/lib/src/pubspec.dart
Labels: package:dwds, package:webdev

Fix a few minor spelling mistakes
  .github/workflows/changelog_reminder.yml
  dwds/CONTRIBUTING.md
  dwds/debug_extension/web/background.dart
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/storage.dart
  dwds/lib/data/extension_request.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/execution_context.dart
  dwds/lib/src/events.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/handlers/socket_connections.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/events_test.dart
  dwds/test/load_strategy_test.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/lifeline_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/restarter.dart
  frontend_server_client/README.md
  test_common/lib/logging.dart
  webdev/test/configuration_test.dart
  webdev/test/integration_test.dart
Labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Update old dartlang.org links to new .dev equivalents
  dwds/README.md
  dwds/lib/src/utilities/dart_uri.dart
  webdev/README.md
  webdev/lib/src/pubspec.dart
  webdev/test/integration_test.dart
Labels: package:dwds, package:webdev

Update the comment
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Update README.md to use `dart pub` instead of `pub` (#2195)
  webdev/README.md
Labels: package:webdev

Fix failing tests
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Update the workflow
  .github/workflows/puppeteer.yml
Labels: type-infra

Add test to repro the issue
  dwds/test/evaluate_common.dart
Labels: package:dwds

Skip another test
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Run correct test suite
  .github/workflows/puppeteer.yml
  dwds/test/puppeteer/extension_common.dart
Labels: type-infra, package:dwds

Skip tests failing on dev <'3.2.0-126.0.dev
  dwds/test/evaluate_common.dart
Labels: package:dwds

Avoid passing a nullable value to Future<nn-type>.value or Completer<nn-type>.completer.
  dwds/lib/src/services/batched_expression_evaluator.dart
Labels: package:dwds

Addressed CR comments
  dwds/test/evaluate_common.dart
Labels: package:dwds

Try diagnosing the test failures
  dwds/test/evaluate_common.dart
Labels: package:dwds

Add some logging
  dwds/test/puppeteer/extension_common.dart
Labels: package:dwds

Clear the G3 relative URI map with the other URI maps
  dwds/lib/src/utilities/dart_uri.dart
Labels: package:dwds

Run formatter
  webdev/lib/src/pubspec.dart
Labels: package:webdev

Revert an accidental change
  dwds/debug_extension/web/background.dart
Labels: package:dwds, dart-debug-extension

Add PR link to changelogs
  dwds/CHANGELOG.md
  webdev/CHANGELOG.md
Labels: package:dwds, package:webdev

Update SDK constraints for Dart 3.0 and 3.1 stable releases (#2207)
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/utilities/objects.dart
  dwds/pubspec.yaml
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackage/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_client/CHANGELOG.md
  frontend_server_client/pubspec.yaml
  frontend_server_client/test/frontend_sever_client_test.dart
  frontend_server_common/pubspec.yaml
  test_common/pubspec.yaml
  tool/ci.sh
  tool/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/pubspec.dart
  webdev/pubspec.yaml
Labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Prepare 3.0.7+1 hotfix release for Webdev
  webdev/CHANGELOG.md
  webdev/lib/src/serve/webdev_server.dart
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Update SDK constraint to match constraint of DWDS 19.0.2+1
  webdev/pubspec.yaml
Labels: package:webdev

Prepare DWDS for release to version 21.0.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Update SDK constraints for the smoke tests as well
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
Labels: none

Prepare `3.0.7+1` hotfix release for Webdev (#2220)
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/serve/webdev_server.dart
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Run monorepo generate
  .github/workflows/dart.yml
Labels: type-infra

Run monorepo generate (#2222)
  .github/workflows/dart.yml
Labels: type-infra
