Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*

Fix build
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
Labels: package:webdev

Rename TestLoadStrategySettings to TestBuildSettings
  dwds/CHANGELOG.md
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Reset Webdev to 3.3.0-wip after release (#2269)
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

Polish
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

More polish
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Combine sendTabsMessage and sendRuntimeMessage
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Only allow configurable build settings to in context setup
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/loaders/build_runner_require.dart
  dwds/lib/src/loaders/frontend_server_require.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/puppeteer/test_utils.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Fix analyzer errors
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Update comment
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Run the formatter
  dwds/debug_extension_mv3/web/copier.dart
Labels: package:dwds, dart-debug-extension

Handle receiving appId instead of workspace name
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Expose a keyboard shortcut to copy the Dart app ID (#2271)
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

Print out app id
  dwds/debug_extension_mv3/web/background.dart
Labels: package:dwds, dart-debug-extension

Guess the entrypoint in webdev
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev

Clean up
  dwds/debug_extension_mv3/web/background.dart
Labels: package:dwds, dart-debug-extension

Clean up
  dwds/debug_extension_mv3/web/cider_connection.dart
Labels: package:dwds, dart-debug-extension

Cleanup
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/puppeteer/test_utils.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Update changelog
  dwds/CHANGELOG.md
Labels: package:dwds

Cleanup
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/fakes.dart
  frontend_server_common/lib/src/frontend_server_client.dart
Labels: package:dwds

Add tests
  dwds/test/dart_uri_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/load_strategy_test.dart
Labels: package:dwds

Add TestBuildSettings for construction
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/load_strategy_test.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:dwds, package:webdev

Cleanup
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev

Remove unused parameter
  dwds/test/fixtures/utilities.dart
Labels: package:dwds

Use build settings for expression compiler
  dwds/lib/expression_compiler.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/pubspec.yaml
  dwds/test/expression_compiler_service_test.dart
  dwds/test/fixtures/fakes.dart
  frontend_server_common/lib/src/frontend_server_client.dart
Labels: package:dwds

Build
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
Labels: package:dwds

Cider passes an app ID instead of a workspace name to connect to the Dart Debug Extension (#2272)
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension

Banner added to top instead of bottom of page
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

Pass compiler options to resident compiler and expression compiler in tests
  dwds/lib/expression_compiler.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
Labels: package:dwds

Add TestCompilerOptions
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/utilities.dart
Labels: package:dwds

Banner added to top instead of bottom of page (#2273)
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

Addressed CR comments
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/utilities.dart
Labels: package:dwds

Prepare Dart Debug Extension for release to version 1.38
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Prepare Dart Debug Extension for release to version 1.38 (#2274)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Update release documentation for DWDS, Webdev and the Dart Debug Extension
  dwds/CONTRIBUTING.md
  dwds/debug_extension_mv3/CONTRIBUTING.md
  webdev/CONTRIBUTING.md
Labels: package:dwds, package:webdev, dart-debug-extension

Update release documentation for DWDS, Webdev and the Dart Debug Extension (#2275)
  dwds/CONTRIBUTING.md
  dwds/debug_extension_mv3/CONTRIBUTING.md
  webdev/CONTRIBUTING.md
Labels: package:dwds, package:webdev, dart-debug-extension

Inject only CSS styles needed for the banner
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/static_assets/styles_injected.css
Labels: package:dwds, dart-debug-extension

Sort CSS properties
  dwds/debug_extension_mv3/web/static_assets/styles_injected.css
Labels: package:dwds, dart-debug-extension

New line at end of file
  dwds/debug_extension_mv3/web/static_assets/styles_injected.css
Labels: package:dwds, dart-debug-extension

Clean up stylesheet
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/static_assets/styles_injected.css
Labels: package:dwds, dart-debug-extension

Minor cleanup
  dwds/test/dart_uri_test.dart
  dwds/test/fixtures/utilities.dart
Labels: package:dwds
