Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*

Use new error codes from package:vm_service (#2141)
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/domain.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds

Wrap vm service API methods in error handlers
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Fix analyzer errors
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Add analyze step
  .github/workflows/daily_testing.yml
Labels: type-infra

Delete conflicting outputs
  dwds/debug_extension_mv3/tool/build_extension.dart
Labels: package:dwds, dart-debug-extension

Update utility and add test
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/shared.dart
  dwds/test/utilities_test.dart
Labels: package:dwds

Format
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Rethrow SentinelExceptions as well
  dwds/lib/src/utilities/shared.dart
Labels: package:dwds

Add more daily tests
  dwds/test/build_daemon_evaluate_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/frontend_server_evaluate_sound_test.dart
  dwds/test/frontend_server_evaluate_weak_test.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/objects_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
Labels: package:dwds

Remove instance inspection common
  dwds/test/instances/instance_inspection_common.dart
Labels: package:dwds

Add more tests to daily testing cron job (#2138)
  .github/workflows/daily_testing.yml
  dwds/test/build_daemon_evaluate_test.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/frontend_server_evaluate_sound_test.dart
  dwds/test/frontend_server_evaluate_weak_test.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/objects_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  webdev/test/installation_test.dart
Labels: type-infra, package:dwds, package:webdev

Respond to PR comments
  dwds/lib/src/utilities/shared.dart
  dwds/test/utilities_test.dart
Labels: package:dwds

Respond to more PR comments
  dwds/lib/src/utilities/shared.dart
  dwds/test/utilities_test.dart
Labels: package:dwds

Trailing comma'
  dwds/test/utilities_test.dart
Labels: package:dwds

Wrap VM service API methods in an error handler to convert any exceptions into type `RPCError` (#2144)
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/shared.dart
  dwds/test/utilities_test.dart
Labels: package:dwds

Prepare DWDS for release to version 19.0.1
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Don't include proper_release test in test_common tests
  test_common/dart_test.yaml
  test_common/mono_pkg.yaml
  test_common/test/proper_release_test.dart
Labels: none

Re-generate monorepo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Fix label name check
  .github/workflows/release_reminder.yml
Labels: type-infra

Fix the DCM workflow
  .github/workflows/dcm.yml
Labels: type-infra

Fix the DCM workflow (#2147)
  .github/workflows/dcm.yml
Labels: type-infra

Fix DCM errors
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Fix DCM errors in `chrome_proxy_service.dart` (#2148)
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Apply trailing comma lint
  dwds/debug_extension/tool/update_dev_files.dart
  dwds/debug_extension_mv3/tool/update_dev_files.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/metadata/module_metadata.dart
  dwds/lib/src/debugging/skip_list.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/servers/extension_backend.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/services/javascript_builder.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/debugger_test.dart
  dwds/test/events_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/extension_debugger_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/listviews_test.dart
  dwds/test/metadata_test.dart
  dwds/test/variable_scope_test.dart
  dwds/tool/copy_builder.dart
  dwds/web/reloader/legacy_restarter.dart
Labels: package:dwds, dart-debug-extension

Don't run proper_release_test with the rest of the test common tests (#2146)
  .github/workflows/dart.yml
  .github/workflows/release_reminder.yml
  dwds/debug_extension/tool/update_dev_files.dart
  dwds/debug_extension_mv3/tool/update_dev_files.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/metadata/module_metadata.dart
  dwds/lib/src/debugging/skip_list.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/servers/extension_backend.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/services/javascript_builder.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/debugger_test.dart
  dwds/test/events_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/extension_debugger_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/listviews_test.dart
  dwds/test/metadata_test.dart
  dwds/test/variable_scope_test.dart
  dwds/tool/copy_builder.dart
  dwds/web/reloader/legacy_restarter.dart
  test_common/dart_test.yaml
  test_common/mono_pkg.yaml
  test_common/test/proper_release_test.dart
  tool/ci.sh
Labels: type-infra, package:dwds, dart-debug-extension

Prepare DWDS for release to version 19.0.1 (#2145)
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Reset DWDS to 19.0.2-wip
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Fix CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Fix release script for resets
  tool/release.dart
Labels: none

Prepare Webdev for release to 3.0.5
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

Update CHANGELOG and pubspec
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev

More changes to release script
  tool/release.dart
Labels: none

Reset DWDS to `19.0.2-wip` (#2149)
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Fix tests
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds

Fix puppeteer tests
  dwds/.gitignore
  dwds/pubspec.yaml
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds

Make var final
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds

Refactor tests
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/extension_test_mv2.dart
  dwds/test/puppeteer/extension_test_mv3.dart
Labels: package:dwds

Small fixes for the `release` script (#2150)
  tool/release.dart
Labels: none

Prepare Webdev `3.0.5` release (#2151)
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev
