Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*

Revert "Fix analyzer errors"
  dwds/test/fixtures/context.dart
Labels: package:dwds

Bring back expression compiler
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/test/reload_test.dart
Labels: package:dwds

Fix dart_uri_test
  dwds/test/fixtures/utilities.dart
Labels: package:dwds

Fix devtools test
  dwds/test/devtools_test.dart
Labels: package:dwds

Refactor tests to handle new `ToolConfiguration` (#2243)
  dwds/test/dart_uri_test.dart
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/debugger_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/test/reload_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds

Added some logging
  webdev/test/e2e_common.dart
  webdev/test/test_utils.dart
Labels: package:webdev

Formatted
  webdev/test/test_utils.dart
Labels: package:webdev

Add test to catch latest type table failure in DDC
  webdev/test/e2e_test.dart
Labels: package:webdev

Messages passed between Cider V and Dart Debug Extension should be JS objects not strings
  dwds/debug_extension_mv3/web/cider_connection.dart
Labels: package:dwds, dart-debug-extension

test a prerelease version of the setup-dart action
  .github/workflows/daily_testing.yml
  .github/workflows/dart.yml
  .github/workflows/dcm.yml
  .github/workflows/release_reminder.yml
Labels: type-infra

regenerate from the latest package:mono_repo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Bump package:vm_service to ^12.0.0
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Fix message passing and prepare version bump
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Fix typo
  dwds/debug_extension_mv3/web/cider_connection.dart
Labels: package:dwds, dart-debug-extension

regenerate from the latest package:mono_repo (#2247)
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Add tests that use debugger runtime API
  webdev/test/e2e_test.dart
Labels: package:webdev

Restore pubspec_overrides.yaml, update CHANGELOG
  dwds/CHANGELOG.md
  dwds/pubspec_overrides.yaml
Labels: package:dwds

Update webdev
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev

CHANGELOG ordering
  dwds/CHANGELOG.md
Labels: package:dwds

webdev CHANGELOG
  webdev/CHANGELOG.md
Labels: package:webdev

webdev CHANGELOG
  webdev/CHANGELOG.md
Labels: package:webdev

Cider expects messages from a Chrome extension to be a JS object, not a string (#2249)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Skip failing test cases
  webdev/test/e2e_common.dart
  webdev/test/test_utils.dart
Labels: package:webdev

Fix typos
  webdev/test/e2e_common.dart
Labels: package:webdev

Set up daily testing on stable SDK
  webdev/dart_test.yaml
  webdev/mono_pkg.yaml
Labels: package:webdev

Add daily testing workflow
  .github/workflows/daily_testing.yml
Labels: type-infra

Fix mono_pkg issues and run mono_repo generate
  .github/workflows/dart.yml
  tool/ci.sh
  webdev/mono_pkg.yaml
Labels: type-infra, package:webdev

Rework workflows to handle stable branch
  .github/workflows/daily_testing.yml
  .github/workflows/stable_testing.yml
  webdev/mono_pkg.yaml
Labels: type-infra, package:webdev

Rerun monorepo generate
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

Add evaluation test to webdev to catch issues with runtime debugging API (#2250)
  webdev/test/e2e_test.dart
Labels: package:webdev

Bump package:vm_service to ^12.0.0 (#2248)
  dwds/CHANGELOG.md
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:dwds, package:webdev

Add a github workflow
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Fix checkout issue?
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

try this
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Try this
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Does this fail on dev branch?
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Add display VAR
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Switch back to stable branch
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Clean up / run all tests
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

Final polish (hopefully)
  .github/workflows/daily_stable_testing.yml
Labels: type-infra
