Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dwds, package:frontend_server_client, package:webdev, dart-debug-extension

Show chrome notification instead of banner when app id is copied
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/static_assets/styles.css
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Clean up
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Update to 1.40
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

Show a Chrome notification when the app ID has been copied instead of a banner (#2282)
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/static_assets/styles.css
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Update to `package:lints` v3 (#2261)
  dwds/lib/src/debugging/remote_debugger.dart
  dwds/lib/src/utilities/conversions.dart
  dwds/lib/src/utilities/objects.dart
  dwds/pubspec.yaml
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/location_test.dart
  test_common/pubspec.yaml
Labels: package:dwds

DCM workflow no longer needs label
  .github/workflows/dcm.yml
  .github/workflows/dcm_label.yml
Labels: type-infra

Update with code from google3 prototype
  dwds/lib/data/connect_request.dart
  dwds/lib/data/connect_request.g.dart
  dwds/lib/data/register_entrypoint_request.dart
  dwds/lib/data/register_entrypoint_request.g.dart
  dwds/lib/data/serializers.dart
  dwds/lib/data/serializers.g.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/provider.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/loaders/build_runner_require.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/batched_expression_evaluator.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/web/client.dart
Labels: package:dwds

Fix DCM error
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/loaders/strategy.dart
Labels: package:dwds

Fix more DCM errors
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Format
  dwds/lib/src/handlers/injector.dart
Labels: package:dwds

Return a future
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/loaders/strategy.dart
Labels: package:dwds

DCM workflow no longer needs the `run-dcm-workflow` label (#2283)
  .github/workflows/dcm.yml
  .github/workflows/dcm_label.yml
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: type-infra, package:dwds

Make dwds tolerant to failure of detecting dart execution context id
  dwds/lib/src/connections/debug_connection.dart
  dwds/lib/src/debugging/execution_context.dart
  dwds/lib/src/debugging/remote_debugger.dart
  dwds/lib/src/debugging/webkit_debugger.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/test/execution_context_test.dart
  dwds/test/fixtures/fakes.dart
Labels: package:dwds

Update changelog
  dwds/CHANGELOG.md
Labels: package:dwds

Adding support for using the Frontend Server with the Legacy/DDC module system.
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/src/loaders/frontend_server_legacy.dart
  dwds/lib/src/loaders/legacy.dart
Labels: package:dwds

Addressed CR comments
  dwds/lib/src/debugging/execution_context.dart
  dwds/test/execution_context_test.dart
Labels: package:dwds

Cleanup
  dwds/test/execution_context_test.dart
Labels: package:dwds

Cleanup
  dwds/test/execution_context_test.dart
Labels: package:dwds

Adding support for using the Frontend Server with the Legacy/DDC module system. (#2285)
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/src/loaders/frontend_server_legacy.dart
  dwds/lib/src/loaders/legacy.dart
Labels: package:dwds

Fix a crash during execution context detection (#2286)
  dwds/CHANGELOG.md
  dwds/lib/src/connections/debug_connection.dart
  dwds/lib/src/debugging/execution_context.dart
  dwds/lib/src/debugging/remote_debugger.dart
  dwds/lib/src/debugging/webkit_debugger.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/test/execution_context_test.dart
  dwds/test/fixtures/fakes.dart
Labels: package:dwds

Check if sender is legitimate based on ID
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/panel.dart
Labels: package:dwds, dart-debug-extension

Use extension ID instead
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Clean up
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
Labels: package:dwds, dart-debug-extension

Remove unused code
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds

Spelling
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds

Check sender origin as well
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Check scheme as well
  dwds/debug_extension_mv3/web/messaging.dart
Labels: package:dwds, dart-debug-extension

Updating the legacy loader to use the new DDC module loader API
  dwds/lib/src/loaders/legacy.dart
Labels: package:dwds

Updating the legacy loader to use the new DDC module loader API
  dwds/lib/src/loaders/legacy.dart
Labels: package:dwds

Allow more Google hosts
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/panel.dart
Labels: package:dwds, dart-debug-extension

Remove old code from before the new Dart Debug Extension (#2290)
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds

Prepare Dart Debug Extension for MV3 release
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/lifeline_connection.dart
  dwds/debug_extension_mv3/web/lifeline_ports.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/test/puppeteer/lifeline_test.dart
Labels: package:dwds, dart-debug-extension

Clean up CSS
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

Prepare Dart Debug Extension for MV3 release (#2293)
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/lifeline_connection.dart
  dwds/debug_extension_mv3/web/lifeline_ports.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/test/puppeteer/lifeline_test.dart
Labels: package:dwds, dart-debug-extension

Add radio buttons
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
Labels: package:dwds, dart-debug-extension

Remove scripting code and permission
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Remove extra import
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Remove unused scripting code and permission (#2294)
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

Adding tests and plumbing for the DDC module system.
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/utilities.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/frontend_server_ddc_evaluate_sound_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/bootstrap.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: package:dwds

updating changelog
  dwds/CHANGELOG.md
Labels: package:dwds

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'type-infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

'dart-debug-extension':
  - dwds/debug_extension/**/*
  - dwds/debug_extension_mv3/**/*
