Repository dart-lang/webdev, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, package:dwds, package:frontend_server_client, package:webdev

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'infra':
  - '.github/**'

'package:dwds':
  - dwds/**/*

'package:frontend_server_client':
  - frontend_server_client/**/*

'package:webdev':
  - webdev/**/*

Add 'avoid_void_async' lint (#1977)
  dwds/analysis_options.yaml
  dwds/debug_extension/tool/copy_builder.dart
  dwds/debug_extension/web/background.dart
  dwds/debug_extension_mv3/tool/copy_builder.dart
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/cross_extension_communication.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/devtools.dart
  dwds/debug_extension_mv3/web/settings.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/batched_expression_evaluator.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/fixtures/context.dart
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds

Add unnecessary_await_in_return lint
  dwds/analysis_options.yaml
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/readers/proxy_server_asset_reader.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/reloader/require_restarter.dart
Labels: package:dwds

Add unnecessary_lambdas lint (#1978)
  dwds/analysis_options.yaml
  dwds/debug_extension_mv3/web/settings.dart
  dwds/debug_extension_mv3/web/utils.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/extension_debugger_test.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/sdk_configuration_test.dart
  dwds/web/promise.dart
  dwds/web/reloader/require_restarter.dart
  dwds/web/run_main.dart
Labels: package:dwds

Address CR comments
  dwds/test/fixtures/project.dart
Labels: package:dwds

Find correct Dart frame to connect to
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds

Move project definitions into a separate class (#1975)
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/build_daemon_circular_evaluate_test.dart
  dwds/test/build_daemon_evaluate_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_file_uri_test.dart
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/debugger_test.dart
  dwds/test/devtools_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/evaluate_common.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/frontend_server_circular_evaluate_test.dart
  dwds/test/frontend_server_evaluate_sound_test.dart
  dwds/test/frontend_server_evaluate_weak_test.dart
  dwds/test/handlers/asset_handler_test.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/listviews_test.dart
  dwds/test/package_uri_mapper_test.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/lifeline_test.dart
  dwds/test/readers/proxy_server_asset_reader_test.dart
  dwds/test/refresh_test.dart
  dwds/test/reload_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  dwds/test/screenshot_test.dart
  dwds/test/variable_scope_test.dart
Labels: package:dwds

Change parameter to be a function that returns a bool Future
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/injector.dart
Labels: package:dwds

Update CHANGELOG
  dwds/CHANGELOG.md
Labels: package:dwds

Less changes in chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds

Update isFlutterApp in TestServer
  dwds/test/fixtures/server.dart
Labels: package:dwds

Update TODO
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds

Update injector test
  dwds/test/handlers/injector_test.dart
Labels: package:dwds

[MV3 Debug Extension] Support Bolt workflow (#1983)
  dwds/CHANGELOG.md
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/injector.dart
  dwds/test/fixtures/server.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds

Remove duplicate file, fix windows test failures
  dwds/test/fixtures/test_sdk_layout.dart
  test_common/lib/test_sdk_layout.dart
Labels: package:dwds

Pass SdkLayout to the frontend server (#1986)
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  frontend_server_common/lib/src/utilities.dart
Labels: none

Create copying sdk configuration provider (#1984)
  dwds/test/fixtures/test_sdk_layout.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/sdk_asset_generator_test.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds

Fix bad merge
  test_common/lib/test_sdk_configuration.dart
Labels: none

Cleanup
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/test/sdk_asset_generator_test.dart
Labels: none

Run dwds tests in a copy of sdk directory
  test_common/lib/test_sdk_configuration.dart
  test_common/test/test_sdk_configuration_test.dart
  webdev/test/daemon/app_domain_test.dart
  webdev/test/daemon/daemon_domain_test.dart
  webdev/test/daemon/launch_app_test.dart
  webdev/test/daemon/utils.dart
  webdev/test/e2e_test.dart
  webdev/test/integration_test.dart
  webdev/test/readme_test.dart
  webdev/test/test_utils.dart
Labels: package:webdev

Fix failing tests
  test_common/lib/test_sdk_configuration.dart
  webdev/test/test_utils.dart
Labels: package:webdev

Fix test failures
  dwds/test/run_request_test.dart
Labels: package:dwds

Run webdev tests in a copy of the sdk directory (#1987)
  dwds/test/fixtures/context.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/test/sdk_asset_generator_test.dart
  webdev/test/daemon/app_domain_test.dart
  webdev/test/daemon/daemon_domain_test.dart
  webdev/test/daemon/launch_app_test.dart
  webdev/test/daemon/utils.dart
  webdev/test/e2e_test.dart
  webdev/test/integration_test.dart
  webdev/test/readme_test.dart
  webdev/test/test_utils.dart
Labels: package:dwds, package:webdev

Cleanup
  dwds/test/run_request_test.dart
Labels: package:dwds

Fixes for building the extension
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/tool/update_dev_files.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
Labels: package:dwds

Update MV3 manifest as well
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds

Fixes for running Bolt
  dwds/debug_extension_mv3/web/background.dart
  dwds/lib/data/debug_info.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/src/injected/client.js
Labels: package:dwds

Rename method for clarity
  dwds/debug_extension_mv3/web/background.dart
Labels: package:dwds

Use new Dart Debug Extension bug template
  dwds/debug_extension_mv3/web/panel.dart
Labels: package:dwds

[MV3 Debug Extension] Small fixes for building the extension (#1990)
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/tool/update_dev_files.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds

[MV3 Debug Extension] Bolt debugging: can reload the page and continue to debug (#1991)
  dwds/debug_extension_mv3/web/background.dart
  dwds/lib/data/debug_info.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/src/injected/client.js
Labels: package:dwds

[MV3 Debug Extension] Use new Dart Debug Extension bug template (#1992)
  dwds/debug_extension_mv3/web/panel.dart
Labels: package:dwds

Prepare to release dwds
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

Use dev channel to run publish
  .github/workflows/publish.yaml
Labels: infra

Reestablish breakpoints before hot-restart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

Correctly switch to using dev SDK for publish task
  .github/workflows/publish.yaml
Labels: infra
