Repository dart-lang/webdev, pull requests merged in 2023-02, with the labels that each got.

#1996 Temporarily disable publish verification
  .github/workflows/publish.yaml
Labels: infra

#1998 Fix expression evaluation failures on empty scopes
  dwds/CHANGELOG.md
  dwds/lib/src/services/expression_evaluator.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds

#1993 Prepare to release dwds 18.0.0
  .github/workflows/publish.yaml
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, infra

#1994 [MV3 Debug Extension] Ignore page reloads for detecting navigation away from app
  dwds/debug_extension_mv3/web/background.dart
Labels: package:dwds

#2000 Prepare to release webdev 3.0.1
  frontend_server_common/pubspec.yaml
  test_common/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev
