Repository dart-lang/webdev, pull requests merged in 2023-04, with the labels that each got.

#2069 Fix typo caught during google3 roll
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

#2071 Fix DevTools test failure
  dwds/test/devtools_test.dart
Labels: package:dwds

#2075 Prep Webdev for release to `3.0.4`
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings

#2076 Reset DWDS to `19.0.1-dev` after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

#2077 Reset Webdev to 3.0.5-dev after release
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

#2072 Dart Code Metrics follow-up
  dwds/analysis_options.yaml
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/cross_extension_communication.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/lifeline_connection.dart
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/panel.dart
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension

#2073 Remove eval error message on async frames
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/batched_expression_evaluator.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/test/evaluate_common.dart
  dwds/test/expression_evaluator_test.dart
  fixtures/_testPackage/web/main.dart
  fixtures/_testPackageSound/web/main.dart
Labels: package:dwds

#2081 Run `mono_repo generate` to update Github config
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#2074 Refactor record shape processing out of calculating record bound fields
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/instance.dart
Labels: package:dwds

#2084 Run `mono_repo generate` with version 6.5.3
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#2088 Prevent PRs labeled `do-not-submit` from being merged
  .github/workflows/do_not_submit.yml
  .github/workflows/no_response.yml
Labels: type-infra

#2090 Add CI check to remind contributor to update CHANGELOG
  .github/workflows/changelog_reminder.yml
Labels: type-infra

#2078 Add `vm_service` as git package dependency
  dwds/pubspec_overrides.yaml
  tool/release.dart
Labels: package:dwds, changelog-not-required

#2094 Fix DCM analyzer warnings
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/frame_computer.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds, changelog-not-required

#2092 Add Github workflow for Dart Code Metrics
  .github/workflows/dcm.yml
Labels: type-infra

#2095 Add a test to make sure proper release procedure is followed for `dwds` and `webdev`
  .github/workflows/release_reminder.yml
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/test/readers/frontend_server_asset_reader_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  test_common/test/proper_release_test.dart
  tool/release.dart
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, type-infra, changelog-not-required

#2097 Testing `autosubmit` label
  dwds/CONTRIBUTING.md
Labels: package:dwds, autosubmit

#2070 Cleanup record types display
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/injected/client.js
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
Labels: package:dwds

#2098 Run `chrome_proxy_service_test.dart` everyday at 8 AM PST
  .github/workflows/daily_testing.yml
  dwds/dart_test.yaml
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds, type-infra, changelog-not-required
