Repository dart-lang/webdev, pull requests merged in 2023-06, with the labels that each got.

#2129 Include `requested-by = DWDS` header in ProxyServerAssetReader
  dwds/lib/src/readers/proxy_server_asset_reader.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2122 Support using scope in evaluateInFrame
  dwds/CHANGELOG.md
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/services/javascript_builder.dart
  dwds/test/evaluate_common.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/javascript_builder_test.dart
  fixtures/_testPackage/web/main.dart
  fixtures/_testPackageSound/web/main.dart
Labels: package:dwds, run-dcm-workflow

#2131 Run DCM workflow against PR branch instead of main branch
  .github/workflows/dcm.yml
Labels: type-infra

#2130 Remove unnecessary `async` keywords
  dwds/lib/src/services/expression_evaluator.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#1935 Add Webdev installation test
  webdev/test/installation_test.dart
Labels: package:webdev, changelog-not-required, run-dcm-workflow

#2134 Catch `WipError` on calls to resume and map to appropriate RPC error code
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds, run-dcm-workflow

#2136 Remove tabs permission for the Dart Debug Extension
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

#2137 Double the timeout for the webdev installation test
  webdev/test/installation_test.dart
Labels: package:webdev, changelog-not-required, run-dcm-workflow

#2139 Update Dart Debug Extension version in preparation for publishing
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

#2141 Use new error codes from `package:vm_service`
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/domain.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2138 Add more tests to daily testing cron job
  .github/workflows/daily_testing.yml
  dwds/test/build_daemon_evaluate_test.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/frontend_server_evaluate_sound_test.dart
  dwds/test/frontend_server_evaluate_weak_test.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/objects_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  webdev/test/installation_test.dart
Labels: package:webdev, package:dwds, type-infra, changelog-not-required, run-dcm-workflow

#2144 Wrap VM service API methods in an error handler to convert any exceptions into type `RPCError`
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/utilities/shared.dart
  dwds/test/utilities_test.dart
Labels: package:dwds, autosubmit, run-dcm-workflow

#2147 Use `github.event.pull_request.head.sha` as PR reference in DCM workflow
  .github/workflows/dcm.yml
Labels: type-infra

#2146 Don't run proper_release_test with the rest of the test common tests
  .github/workflows/dart.yml
  .github/workflows/release_reminder.yml
  dwds/debug_extension/tool/update_dev_files.dart
  dwds/debug_extension_mv3/tool/update_dev_files.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/metadata/module_metadata.dart
  dwds/lib/src/debugging/skip_list.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/servers/extension_backend.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/services/javascript_builder.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/debugger_test.dart
  dwds/test/events_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/extension_debugger_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/listviews_test.dart
  dwds/test/metadata_test.dart
  dwds/test/variable_scope_test.dart
  dwds/tool/copy_builder.dart
  dwds/web/reloader/legacy_restarter.dart
  test_common/dart_test.yaml
  test_common/mono_pkg.yaml
  test_common/test/proper_release_test.dart
  tool/ci.sh
Labels: package:dwds, dart-debug-extension, type-infra, changelog-not-required, run-dcm-workflow

#2145 Prepare DWDS for release to version `19.0.1`
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2150 Small fixes for the `release` script
  tool/release.dart
Labels: changelog-not-required, run-dcm-workflow

#2151 Prepare Webdev `3.0.5` release
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2152 Fix the Puppeteer tests for the Debug Extension
  dwds/.gitignore
  dwds/pubspec.yaml
  dwds/test/puppeteer/extension_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2154 Reset Webdev to `3.0.6-wip`
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, run-dcm-workflow

#2153 Shard MV2 and MV3 extension tests
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/extension_test_mv2.dart
  dwds/test/puppeteer/extension_test_mv3.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow
