Repository dart-lang/webdev, pull requests merged in 2023-08, with the labels that each got.

#2179 Dart Debug Extension: don't forward events to Chrome that will cause a crash
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2182 Skip flaky `events_test.dart`
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2186 Preparation for hotfix release 19.0.1+1
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds, run-dcm-workflow, prepare-release

#2188 Fix Flutter crash by catching WipError on resume and mapping to RPC error
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds, run-dcm-workflow

#2189 Re-enable `events_test` with fix
  dwds/lib/src/handlers/dev_handler.dart
  dwds/test/events_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2190 Preparation for hotfix release 19.0.2+1
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds, run-dcm-workflow, prepare-release

#2185 Update `file` dependency.
  dwds/CHANGELOG.md
  dwds/pubspec.yaml
  frontend_server_common/pubspec.yaml
  test_common/pubspec.yaml
Labels: package:dwds, run-dcm-workflow

#2191 Prepare DWDS for release to version `20.0.0`
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2192 Prepare DWDS for release to version 20.0.1
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2196 Prepare Webdev for version `3.0.7` release
  frontend_server_common/pubspec.yaml
  test_common/ignore_pubspec_overrides.yaml
  test_common/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: publish-ignore-warnings, run-dcm-workflow, prepare-release

#2197 Reset Webdev to `3.0.8-wip`
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, run-dcm-workflow

#2199 Allow client to specify how to find the package config
  dwds/CHANGELOG.md
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/load_strategy_test.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds, run-dcm-workflow

#2200 Allow client to specify a way to convert an absolute path into a g3-relative path
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/globals.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds, run-dcm-workflow

#2203 Pass the package config directly to the load strategy instead of depending on an app entrypoint
  dwds/CHANGELOG.md
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/load_strategy_test.dart
Labels: package:dwds, run-dcm-workflow
