Repository dart-lang/webdev, pull requests merged in 2023-07, with the labels that each got.

#2162 Handle potential `null` value in `setUpChromeConsoleListeners`
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds, run-dcm-workflow

#2166 Prepare DWDS for release to version 19.0.2
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: changelog-not-required, run-dcm-workflow, prepare-release

#2168 Reset DWDS after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds, run-dcm-workflow, prepare-release

#2160 Run instance tests with frontend server
  dwds/CHANGELOG.md
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/loaders/frontend_server_require.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/readers/asset_reader.dart
  dwds/lib/src/readers/frontend_server_asset_reader.dart
  dwds/lib/src/readers/proxy_server_asset_reader.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/evaluate_common.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/instances/instance_test.dart
  dwds/test/readers/frontend_server_asset_reader_test.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
Labels: package:dwds, run-dcm-workflow

#2165 regenerate from the latest mono_repo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#2167 Prepare webdev for release to `3.0.6`
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2169 Add option of running frontend server tests in canary mode
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  dwds/test/instances/instance_canary_test.dart
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackage/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/test/sdk_asset_generator_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, dart-debug-extension, run-dcm-workflow

#2170 Reset webdev to version `3.0.7-wip`
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, run-dcm-workflow

#2171 Allow running build daemon tests in canary mode
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_test.dart
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/README.md
  webdev/lib/src/command/configuration.dart
  webdev/lib/src/command/shared.dart
  webdev/lib/src/pubspec.dart
  webdev/lib/src/serve/webdev_server.dart
  webdev/test/integration_test.dart
Labels: package:webdev, package:dwds, dart-debug-extension, run-dcm-workflow

#2174 Refactor instance tests
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
Labels: changelog-not-required, run-dcm-workflow

#2176 Split out common parts of instance tests in preparation for adding canary tests
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  dwds/test/objects_test.dart
Labels: changelog-not-required, run-dcm-workflow
