Repository dart-lang/webdev, pull requests merged in 2023-10, with the labels that each got.

#2247 regenerate from the latest package:mono_repo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#2249 Cider expects messages from a Chrome extension to be a JS object, not a string
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2250 Add evaluation test to webdev to catch issues with runtime debugging API
  webdev/test/e2e_test.dart
Labels: package:webdev, changelog-not-required, run-dcm-workflow

#2248 Bump package:vm_service to ^12.0.0
  dwds/CHANGELOG.md
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2251 Run the Webdev tests daily with the Dart stable SDK
  .github/workflows/daily_stable_testing.yml
Labels: type-infra

#2254 Prepare DWDS for release to version 22.0.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2255 Prepare Webdev for release to 3.1.0
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2256 Reset DWDS to 22.1.0-wip after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2260 Reset Webdev to 3.2.0-wip after release
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, run-dcm-workflow

#2258 [Dart Debug Extension] Remove Chrome 115 error handler
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2262 Add dependency on `package:vm_service_interface`
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/refresh_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, run-dcm-workflow

#2265 Roll package:vm_service to 13.0.0
  dwds/CHANGELOG.md
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/pubspec.yaml
  dwds/test/build_daemon_breakpoint_test.dart
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/events_test.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/refresh_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/run_request_test.dart
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, run-dcm-workflow

#2266 Prepare DWDS for release to version 22.1.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2267 Reset DWDS to version `22.2.0-wip` after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds, run-dcm-workflow

#2268 Prepare webdev for 3.2.0
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2269 Reset Webdev to 3.3.0-wip after release
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, run-dcm-workflow, prepare-release

#2271 Expose a keyboard shortcut to copy the Dart app ID
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2272 Cider passes an app ID instead of a workspace name to connect to the Dart Debug Extension
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2273 [Polish] Add banner to the top of the page instead of the bottom
  dwds/debug_extension_mv3/web/static_assets/styles.css
Labels: package:dwds, dart-debug-extension

#2274 Prepare the Dart Debug Extension for release to version 1.38
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension
