Repository dart-lang/webdev, pull requests merged in 2023-09, with the labels that each got.

#2195 Update README.md to use `dart pub` instead of `pub`
  webdev/README.md
Labels: package:webdev, run-dcm-workflow

#2207 Update SDK constraints for Dart 3.0 and 3.1 stable releases
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/utilities/objects.dart
  dwds/pubspec.yaml
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_test/pubspec.yaml
  fixtures/_testCircular1/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testPackage/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_client/CHANGELOG.md
  frontend_server_client/pubspec.yaml
  frontend_server_client/test/frontend_sever_client_test.dart
  frontend_server_common/pubspec.yaml
  test_common/pubspec.yaml
  tool/ci.sh
  tool/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/pubspec.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, dart-debug-extension, package:frontend_server_client, type-infra, autosubmit, run-dcm-workflow

#2220 Prepare `3.0.7+1` hotfix release for Webdev
  fixtures/_webdevSmoke/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/serve/webdev_server.dart
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, run-dcm-workflow, prepare-release

#2222 Run monorepo generate
  .github/workflows/dart.yml
Labels: type-infra, changelog-not-required, run-dcm-workflow

#2221 Prepare DWDS for release to version `21.0.0`
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2224 Prepare Webdev for release to version 3.0.8
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, run-dcm-workflow, prepare-release

#2225 Reset DWDS to version `21.1.0` after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds, run-dcm-workflow, prepare-release

#2227 Reset Webdev to version `3.1.0-wip` after release
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, run-dcm-workflow, prepare-release

#2216 Clear the map of relative URIs on `DartUri.clear()`
  dwds/lib/src/utilities/dart_uri.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2214 Update the comment for `lookupResolvedPackageUris`
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2210 Update old dartlang.org links to new .dev equivalents
  dwds/README.md
  dwds/lib/src/utilities/dart_uri.dart
  webdev/README.md
  webdev/lib/src/pubspec.dart
  webdev/test/integration_test.dart
Labels: package:webdev, package:dwds, changelog-not-required, run-dcm-workflow

#2209 Fix a few minor spelling mistakes
  .github/workflows/changelog_reminder.yml
  dwds/CONTRIBUTING.md
  dwds/debug_extension/web/background.dart
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/storage.dart
  dwds/lib/data/extension_request.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/execution_context.dart
  dwds/lib/src/events.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/handlers/socket_connections.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/events_test.dart
  dwds/test/load_strategy_test.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/lifeline_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/restarter.dart
  frontend_server_client/README.md
  test_common/lib/logging.dart
  webdev/test/configuration_test.dart
  webdev/test/integration_test.dart
Labels: package:webdev, package:dwds, dart-debug-extension, package:frontend_server_client, type-infra, changelog-not-required, run-dcm-workflow

#2206 [webdev] Hide `--null-safety` option
  webdev/CHANGELOG.md
  webdev/README.md
  webdev/lib/src/command/shared.dart
Labels: package:webdev, run-dcm-workflow

#2205 Avoid passing a nullable value to Future<nn-type>.value or Completer<nn-type>.completer.
  dwds/lib/src/services/batched_expression_evaluator.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2230 Update DCM triggers to match Dart DevTools
  .github/workflows/dcm.yml
Labels: type-infra

#2232 Fix copying over `client.dart.js` to `client.js` when build DWDS
  dwds/build.yaml
  dwds/lib/src/injected/client.js
Labels: package:dwds

#2233 test the latest setup-dart action
  .github/workflows/daily_testing.yml
  .github/workflows/dart.yml
  .github/workflows/dcm.yml
  .github/workflows/release_reminder.yml
Labels: type-infra

#2234 Allow the Dart Debug Extension to communicate with Cider
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/storage.dart
  dwds/lib/data/debug_info.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/src/injected/client.js
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2235 Update interface for `ChromeProxyService.getSourceReport`
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds, run-dcm-workflow

#2231 Refactor: Update the parameters for `DWDS.start`
  dwds/CHANGELOG.md
  dwds/lib/asset_reader.dart
  dwds/lib/config.dart
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/dwds.dart
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/readers/asset_reader.dart
  dwds/lib/src/servers/devtools.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/globals.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/skip_list_test.dart
  dwds/web/client.dart
  frontend_server_common/lib/src/asset_server.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/resident_runner.dart
  webdev/CHANGELOG.md
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev, package:dwds, run-dcm-workflow

#2237 Add a new workspaceName parameter to DWDS on start up
  dwds/CHANGELOG.md
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/web/client.dart
Labels: package:dwds, run-dcm-workflow

#2238 Rename `plainUri` to `debugUri` and send it to the extension
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/lib/src/handlers/dev_handler.dart
Labels: changelog-not-required, run-dcm-workflow

#2241 Prepare the Dart Debug Extension for release to version 1.36
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

#2242 Fix issue with the embedded inspector panel
  dwds/debug_extension_mv3/web/utils.dart
  dwds/test/puppeteer/extension_common.dart
Labels: changelog-not-required, run-dcm-workflow

#2243 Refactor tests to handle new `ToolConfiguration`
  dwds/test/dart_uri_test.dart
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/debugger_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/test/reload_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow
