Repository dart-lang/webdev, pull requests merged in 2023-11, with the labels that each got.

#2275 Update release documentation for DWDS, Webdev and the Dart Debug Extension
  dwds/CONTRIBUTING.md
  dwds/debug_extension_mv3/CONTRIBUTING.md
  webdev/CONTRIBUTING.md
Labels: package:webdev, package:dwds, dart-debug-extension

#2270 Restructure LoadStrategy to provide build arguments
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/expression_compiler.dart
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/loaders/build_runner_require.dart
  dwds/lib/src/loaders/frontend_server_require.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/build_daemon_callstack_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/dart_uri_file_uri_test.dart
  dwds/test/dart_uri_test.dart
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/debugger_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/evaluate_common.dart
  dwds/test/events_test.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/frontend_server_breakpoint_test.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/handlers/asset_handler_test.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/load_strategy_test.dart
  dwds/test/location_test.dart
  dwds/test/metadata_test.dart
  dwds/test/puppeteer/test_utils.dart
  dwds/test/reload_test.dart
  dwds/test/run_request_test.dart
  dwds/test/skip_list_test.dart
  dwds/test/variable_scope_test.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/test_sdk_configuration.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev, package:dwds, run-dcm-workflow

#2282 Show a Chrome notification when the app ID has been copied instead of a banner
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/static_assets/styles.css
  dwds/debug_extension_mv3/web/utils.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required, run-dcm-workflow

#2261 Update to `package:lints` v3
  dwds/lib/src/debugging/remote_debugger.dart
  dwds/lib/src/utilities/conversions.dart
  dwds/lib/src/utilities/objects.dart
  dwds/pubspec.yaml
  dwds/test/dart_uri_test.dart
  dwds/test/debugger_test.dart
  dwds/test/fixtures/debugger_data.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/location_test.dart
  test_common/pubspec.yaml
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2283 DCM workflow no longer needs the `run-dcm-workflow` label
  .github/workflows/dcm.yml
  .github/workflows/dcm_label.yml
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds, type-infra, changelog-not-required

#2285 Adding support for using the Frontend Server with the Legacy/DDC modu…
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/src/loaders/frontend_server_legacy.dart
  dwds/lib/src/loaders/legacy.dart
Labels: package:dwds

#2286 Fix a crash during execution context detection
  dwds/CHANGELOG.md
  dwds/lib/src/connections/debug_connection.dart
  dwds/lib/src/debugging/execution_context.dart
  dwds/lib/src/debugging/remote_debugger.dart
  dwds/lib/src/debugging/webkit_debugger.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/test/execution_context_test.dart
  dwds/test/fixtures/fakes.dart
Labels: package:dwds

#2290 Remove old code from before the new Dart Debug Extension
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds, changelog-not-required

#2293 Prepare Dart Debug Extension for MV3 release
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/lifeline_connection.dart
  dwds/debug_extension_mv3/web/lifeline_ports.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/test/puppeteer/lifeline_test.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required
