Repository dart-lang/webdev, pull requests merged in 2023-12, with the labels that each got.

#2299 Add popup for copying the app ID
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/popup.dart
  dwds/debug_extension_mv3/web/settings.dart
  dwds/debug_extension_mv3/web/static_assets/popup.html
  dwds/debug_extension_mv3/web/static_assets/settings.html
  dwds/debug_extension_mv3/web/static_assets/styles.css
  dwds/debug_extension_mv3/web/utils.dart
  dwds/test/puppeteer/extension_common.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required

#2301 Send the Flutter inspector URL to Cider when requested
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required

#2302 Notify Cider when connection is successful
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension, changelog-not-required

#2303 Fix `cast` error when debugging from VSCode
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
Labels: package:dwds

#2308 Fix TestSdkConfigurationProvider.dispose
  test_common/lib/test_sdk_configuration.dart
Labels: changelog-not-required

#2312 Fix test cases failing with latest Dart SDK
  dwds/lib/src/debugging/location.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  webdev/test/e2e_test.dart
Labels: package:webdev, package:dwds, package:frontend_server_client, changelog-not-required

#2310 Add a test for `Class` inspection
  dwds/test/instances/class_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds, changelog-not-required

#2318 Prepare DWDS for release to version `23.0.0`
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, prepare-release

#2319 Prepare a hotfix release of DWDS 21.0.0+1
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/version.dart
  dwds/mono_pkg.yaml
  dwds/pubspec.yaml
  dwds/test/inspector_test.dart
  dwds/test/instances/class_inspection_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  fixtures/_experimentSound/web/main.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
Labels: package:webdev, package:dwds, package:frontend_server_client, type-infra, run-dcm-workflow, prepare-release

#2321 Prepare a hotfix release of DWDS 22.1.0+1
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/version.dart
  dwds/mono_pkg.yaml
  dwds/pubspec.yaml
  dwds/test/inspector_test.dart
  dwds/test/instances/class_inspection_test.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/variable_scope_test.dart
  fixtures/_experimentSound/web/main.dart
  frontend_server_client/test/frontend_sever_client_test.dart
  test_common/lib/utilities.dart
  test_common/pubspec.yaml
  tool/ci.sh
  webdev/mono_pkg.yaml
  webdev/test/e2e_test.dart
Labels: package:webdev, package:dwds, package:frontend_server_client, type-infra, run-dcm-workflow, prepare-release
