Repository dart-lang/webdev, pull requests merged in 2023-05, with the labels that each got.

#2103 Hide internal implementation details in type objects
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/dart_scope.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/services/batched_expression_evaluator.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/domain.dart
  dwds/test/debugger_test.dart
  dwds/test/evaluate_common.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_test.dart
  dwds/test/metadata/class_test.dart
Labels: package:dwds

#2106 Update DCM workflow
  .github/workflows/dcm.yml
  .github/workflows/dcm_label.yml
Labels: type-infra

#2108 Syntax error in DCM workflow file
  .github/workflows/dcm.yml
Labels: type-infra

#2117 Dart Debug Extension builder fix
  dwds/debug_extension_mv3/build.yaml
Labels: package:dwds, dart-debug-extension

#2115 Disable tests using webdriver
  dwds/test/debug_extension_test.dart
  dwds/test/devtools_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow

#2113 Manually update dependencies
  .github/workflows/changelog_reminder.yml
  .github/workflows/daily_testing.yml
  .github/workflows/dcm.yml
  .github/workflows/release_reminder.yml
Labels: type-infra

#2112 Try to fix dependabot PRs
  .github/dependabot.yml
Labels: type-infra

#2119 blast_repo fixes
  .github/dependabot.yml
Labels: type-infra

#2121 re-generate w/ the latest monorepo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#2123 Check for new events more often in batched stream.
  dwds/CHANGELOG.md
  dwds/lib/shared/batched_stream.dart
Labels: package:dwds, run-dcm-workflow

#2125 Cleanup expression evaluation tests
  dwds/test/evaluate_common.dart
Labels: changelog-not-required, run-dcm-workflow

#2127 Disable flaky test on windows
  dwds/test/web/batched_stream_test.dart
Labels: package:dwds, changelog-not-required, run-dcm-workflow
