Repository dart-lang/webdev, pull requests merged in 2023-03, with the labels that each got.

#2002 update publishing automation integration
  .github/labeler.yml
  .github/workflows/publish.yaml
Labels: infra, publish-ignore-warnings

#2014 Create a Dart Debug Extension issue template
  .github/ISSUE_TEMPLATE/dart_debug_extension.md
  .github/labeler.yml
Labels: type-infra

#2004 Fix exception mapping from JS to dart
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/variable_scope_test.dart
  frontend_server_common/pubspec.yaml
  test_common/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2015 [MV3 Debug Extension] Show warning when clicking on debug extension for not Dart app
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/test_images/chromeDevTools_externalBuild.png
  dwds/test/puppeteer/test_images/debuggerPanelDisconnected_flutterApp.png
  dwds/test/puppeteer/test_images/debuggerPanelLandingPage_dartApp.png
  dwds/test/puppeteer/test_images/debuggerPanelLandingPage_flutterApp.png
  dwds/test/puppeteer/test_images/inspectorPanelLandingPage_flutterApp.png
Labels: package:dwds

#2011 Fix for listening to custom streams in DWDS.
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds

#2022 Update `dev` versions of DWDS and Webdev
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2021 Handle unexpected extension debugger disconnection events without crashing app
  dwds/CHANGELOG.md
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/servers/extension_debugger.dart
  dwds/test/extension_debugger_test.dart
Labels: package:dwds

#2026 [MV3 Debug Extension] Fix authentication issue for the Dart Debug Extension
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/test/puppeteer/extension_test.dart
  dwds/test/puppeteer/fake_app/main.js
Labels: package:dwds, dart-debug-extension

#2029 Update build_daemon constraint and log errors
  dwds/pubspec.yaml
  dwds/test/fixtures/server.dart
  dwds/test/instances/record_inspection_test.dart
  webdev/CHANGELOG.md
  webdev/lib/src/command/build_command.dart
  webdev/lib/src/command/daemon_command.dart
  webdev/lib/src/command/serve_command.dart
  webdev/lib/src/daemon/app_domain.dart
  webdev/lib/src/pubspec.dart
  webdev/lib/src/serve/webdev_server.dart
  webdev/pubspec.yaml
  webdev/test/chrome_test.dart
  webdev/test/integration_test.dart
Labels: package:webdev, package:dwds

#2032 fix matching record types
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/record_inspection_test.dart
Labels: package:dwds

#2035 Prepare DWDS version `18.0.1` for release
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings

#2036 Prepare Dart Debug Extension for release
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv2.json
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

#2037 Prepare Webdev version `3.0.2` for release
  example/pubspec.yaml
  test_common/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings

#2042 Prepare for variable names changes due to patterns support in DDC
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_scope.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/evaluate_common.dart
  dwds/test/variable_scope_test.dart
  test_common/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2043 Make debugger skip same locations in dart during stepping.
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/location.dart
  dwds/test/instances/instance_inspection_common.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds

#2045 Prepare DWDS for `18.0.2` release
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings

#2046 Prepare Webdev for `3.0.3` release
  test_common/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings

#2044 update to the latest mono_repo generated CI
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#2048 Reset `webdev`, `dwds`, `test_common` after publishing
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension/pubspec_overrides.yaml
  dwds/debug_extension_mv3/pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  frontend_server_client/pubspec.yaml
  frontend_server_common/pubspec.yaml
  frontend_server_common/pubspec_overrides.yaml
  test_common/pubspec.yaml
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, package:dwds, dart-debug-extension, package:frontend_server_client

#2049 Adds a script for the release steps of `dwds` and `webdev`
  dwds/CONTRIBUTING.md
  tool/pubspec.yaml
  tool/release.dart
  webdev/CONTRIBUTING.md
Labels: package:webdev, package:dwds

#2051 Skip failing webdev `integration_test` cases
  webdev/test/integration_test.dart
Labels: package:webdev

#2055 Add Dart Code Metrics
  dwds/analysis_options.yaml
  dwds/debug_extension_mv3/tool/build_extension.dart
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/cross_extension_communication.dart
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/lifeline_connection.dart
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/panel.dart
  dwds/debug_extension_mv3/web/utils.dart
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/shared/batched_stream.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/services/expression_evaluator.dart
  dwds/lib/src/utilities/dart_uri.dart
  dwds/lib/src/utilities/sdk_configuration.dart
  dwds/pubspec.yaml
Labels: package:dwds, dart-debug-extension

#2047 Provide an app entrypoint to DWDS
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/libraries.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/loaders/build_runner_require.dart
  dwds/lib/src/loaders/frontend_server_require.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/fixtures/project.dart
  dwds/test/inspector_test.dart
  webdev/lib/src/serve/webdev_server.dart
Labels: package:webdev, package:dwds

#2052 Move project-specific getters to `TestProject` instead of `TestContext`
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
Labels: package:dwds

#2061 Don't show non-instantiated variables
  dwds/lib/src/debugging/dart_scope.dart
  dwds/test/instances/patterns_inspection_test.dart
  fixtures/_experimentSound/web/main.dart
Labels: package:dwds
