Repository dart-lang/webdev, pull requests merged in 2024-10, with the labels that each got.

#2500 replace deprecated __proto__ from js code
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/inspector.dart
Labels: package:dwds

#2506 Skip the "should build with valid configuration dart2js" test case in e2e_test.dart
  webdev/test/e2e_test.dart
Labels: package:webdev, changelog-not-required

#2510 Removed unsound null safety options from classes ModuleMetadata and MetadataProvider
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/metadata/module_metadata.dart
  dwds/lib/src/debugging/metadata/provider.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/utilities/sdk_configuration.dart
  dwds/test/expression_compiler_service_ddc_and_canary_test.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/metadata_test.dart
  dwds/test/sdk_configuration_test.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/sdk_asset_generator_test.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds

#2507 [Debug extension] Minor dep updates and cleanup
  _analysis_config/lib/analysis_options.yaml
  dwds/debug_extension/pubspec.yaml
  dwds/debug_extension/web/background.dart
  dwds/debug_extension/web/chrome_api.dart
  dwds/debug_extension/web/cider_connection.dart
  dwds/debug_extension/web/data_types.dart
  dwds/debug_extension/web/debug_info.dart
  dwds/debug_extension/web/debug_session.dart
  dwds/debug_extension/web/logger.dart
  dwds/debug_extension/web/messaging.dart
  dwds/debug_extension/web/panel.dart
  dwds/debug_extension/web/popup.dart
  dwds/debug_extension/web/storage.dart
  dwds/debug_extension/web/utils.dart
  dwds/debug_extension/web/web_api.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required
