Repository dart-lang/webdev, pull requests merged in 2024-08, with the labels that each got.

#2470 Disable `variable scope variables in function` in `variable_scope_test.dart`
  dwds/test/variable_scope_test.dart
Labels: package:dwds, changelog-not-required, autosubmit

#2466 [ DWDS ] Spawn DDS in a process rather than using package:dds
  dwds/CHANGELOG.md
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/utilities/server.dart
  dwds/pubspec.yaml
Labels: package:dwds, autosubmit

#2472 Revert "Update daily testing to run the entire test suite"
  .github/workflows/daily_testing.yml
  dwds/test/build_daemon_evaluate_test.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/frontend_server_ddc_evaluate_test.dart
  dwds/test/frontend_server_evaluate_test.dart
  dwds/test/instances/class_inspection_test.dart
  dwds/test/instances/instance_canary_test.dart
  dwds/test/instances/instance_inspection_canary_test.dart
  dwds/test/instances/instance_inspection_test.dart
  dwds/test/instances/instance_test.dart
  dwds/test/instances/patterns_inspection_canary_test.dart
  dwds/test/instances/patterns_inspection_test.dart
  dwds/test/instances/record_inspection_canary_test.dart
  dwds/test/instances/record_inspection_test.dart
  dwds/test/instances/record_type_inspection_canary_test.dart
  dwds/test/instances/record_type_inspection_test.dart
  dwds/test/instances/type_inspection_canary_test.dart
  dwds/test/instances/type_inspection_test.dart
  dwds/test/objects_test.dart
  dwds/test/reload_correctness_test.dart
  dwds/test/reload_test.dart
  webdev/test/installation_test.dart
Labels: package:webdev, package:dwds, type-infra, changelog-not-required

#2471 Add variable support for new DDC async lowering
  dwds/lib/src/debugging/dart_scope.dart
  dwds/test/variable_scope_test.dart
  fixtures/_testSound/example/scopes/main.dart
Labels: package:dwds, changelog-not-required

#2474 Re-enable skipped frontend_server_client test cases
  frontend_server_client/test/frontend_server_client_test.dart
Labels: package:frontend_server_client, changelog-not-required

#2475 prepare to release pkg:dwds v24.1.0
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, dart-debug-extension, publish-ignore-warnings, prepare-release

#2476 Prepare package:webdev 3.6.0 for release
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, publish-ignore-warnings, prepare-release

#2478 Update webdev to 3.7.0-wip after 3.6.0 release
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, prepare-release

#2477 Updating Chrome Proxy Service tests to avoid manually invoking generic Dart constructors.
  dwds/test/chrome_proxy_service_test.dart
  fixtures/_testSound/example/hello_world/main.dart
Labels: package:dwds, changelog-not-required

#2480 Fix getProperties invocation passing length for all objects.
  dwds/lib/src/debugging/instance.dart
Labels: package:dwds, changelog-not-required, prepare-release
