Repository dart-lang/webdev, pull requests merged in 2024-01, with the labels that each got.

#2322 Reset DWDS to version 23.1.0-wip after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

#2325 Prepare Webdev for release to version 3.3.0
  test_common/ignore_pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, prepare-release

#2326 Reset Webdev to 3.4.0-wip after release of 3.3.0
  test_common/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

#2324 Fix `labeler.yml`
  .github/labeler.yml
Labels: type-infra

#2307 Update package:vm_service constraints to allow version 14.x
  dwds/CHANGELOG.md
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2313 blast repo changes: no-response
  .github/workflows/no-response.yml
  .github/workflows/no_response.yml
Labels: type-infra

#2289 Check sender ID in the Dart Debug Extension
  dwds/debug_extension_mv3/web/background.dart
  dwds/debug_extension_mv3/web/chrome_api.dart
  dwds/debug_extension_mv3/web/copier.dart
  dwds/debug_extension_mv3/web/messaging.dart
  dwds/debug_extension_mv3/web/panel.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required

#2327 Re-enable `frontend_server_client_test` cases
  frontend_server_client/test/frontend_sever_client_test.dart
Labels: package:frontend_server_client, changelog-not-required

#2328 Prepare DWDS for release to version 23.1.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, prepare-release

#2263 Make FrontendServerClient start the frontend server from AOT snapshot by default
  frontend_server_client/CHANGELOG.md
  frontend_server_client/lib/src/frontend_server_client.dart
  frontend_server_client/pubspec.yaml
  frontend_server_common/CHANGELOG.md
  frontend_server_common/lib/src/frontend_server_client.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:frontend_server_client, run-dcm-workflow

#2329 Loosen `vm_service` constraints and prepare DWDS for release to 23.1.1
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, prepare-release

#2334 Reset DWDS to version `23.2.0-wip` after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

#2333 Fetch full `developer.log` messages
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds

#2295 Plumbing flags required for running tests with the DDC module system.
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/expression_compiler.dart
  dwds/lib/src/loaders/legacy.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/utilities.dart
  dwds/test/devtools_test.dart
  dwds/test/evaluate_common.dart
  dwds/test/expression_compiler_service_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/server.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/frontend_server_ddc_evaluate_sound_test.dart
  dwds/test/reload_test.dart
  dwds/test/run_request_test.dart
  frontend_server_common/lib/src/bootstrap.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_configuration.dart
  test_common/lib/test_sdk_layout.dart
  test_common/test/sdk_asset_generator_test.dart
  test_common/test/test_sdk_configuration_test.dart
Labels: package:dwds

#2344 Send a "pong" response when Cider "pings" the Dart Debug Extension
  dwds/debug_extension_mv3/web/cider_connection.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required

#2345 Prepare DWDS for release to version 23.2.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, prepare-release

#2347 Reset DWDS to 23.3.0-wip after release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

#2346 Prepare Dart Debug Extension for release to version 2.1.2
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/manifest_mv3.json
Labels: package:dwds, dart-debug-extension

#2348 Filter out internal type properties from the new DDC type system
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_scope.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/test/inspector_test.dart
  dwds/test/variable_scope_test.dart
  fixtures/_test/example/scopes/main.dart
Labels: package:dwds

#2343 Fix failures on displaying getters
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/metadata/provider.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/evaluate_common.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
Labels: package:dwds

#2354 Prepare DWDS 23.3.0 release
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, prepare-release

#2356 Reset DWDS after release to version 23.4.0-wip
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
Labels: package:dwds

#2355 Prepare DWDS 23.0.0+1 hotfix
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_scope.dart
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/metadata/provider.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/evaluate_common.dart
  dwds/test/inspector_test.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/variable_scope_test.dart
  fixtures/_test/example/scopes/main.dart
Labels: package:dwds, prepare-release

#2357 Prepare DWDS 23.0.0+1 hotfix (take two)
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: prepare-release

#2349 Adding tests for cross-module constant equality after hot restart in DDC
  dwds/CHANGELOG.md
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/project.dart
  dwds/test/reload_correctness_test.dart
  dwds/test/reload_test.dart
  fixtures/_testHotRestart1Sound/lib/library1.dart
  fixtures/_testHotRestart1Sound/pubspec.yaml
  fixtures/_testHotRestart2Sound/lib/library2.dart
  fixtures/_testHotRestart2Sound/pubspec.yaml
  fixtures/_testHotRestart2Sound/web/base_index.html
  fixtures/_testHotRestart2Sound/web/index.html
  fixtures/_testHotRestart2Sound/web/main.dart
Labels: package:dwds

#2359 Prepare Webdev for release to version 3.4.0
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, prepare-release

#2362 Reset Webdev to version `3.5.0-wip` after release
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev

#2363 Small fixes to the release script
  tool/release.dart
Labels: changelog-not-required
