Repository dart-lang/webdev, pull requests merged in 2024-09, with the labels that each got.

#2485 Prep DWDS for next release (24.2.0-wip) and get presubmit checks working again
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/fixtures/context.dart
  dwds/test/frontend_server_ddc_and_canary_evaluate_test.dart
  webdev/test/e2e_test.dart
Labels: package:webdev, package:dwds

#2490 [DWDS] Account for the optional parameters that will be added in package:vm_service_interface 2.0.0
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

#2484 [dwds] Delete unreachable `default` clauses.
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/servers/extension_debugger.dart
Labels: package:dwds, changelog-not-required

#2498 Webdev: Look for pubspec.yaml next to .dart_tool/package_config.json instead of only current dir
  webdev/CHANGELOG.md
  webdev/lib/src/command/build_command.dart
  webdev/lib/src/command/daemon_command.dart
  webdev/lib/src/command/serve_command.dart
  webdev/lib/src/command/shared.dart
  webdev/lib/src/pubspec.dart
Labels: package:webdev

#2495 Add regression tests against #2446
  dwds/test/instances/common/instance_common.dart
  fixtures/_testSound/example/scopes/main.dart
Labels: package:dwds, changelog-not-required
