Repository dart-lang/webdev, pull requests merged in 2024-06, with the labels that each got.

#2445 Hide more temporary variables when debugging
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_scope.dart
  dwds/test/variable_scope_test.dart
Labels: package:dwds

#2449 Drop use of deprecated APIs, bump min SDK and other dependencies
  .github/workflows/dart.yml
  dwds/CHANGELOG.md
  dwds/debug_extension/pubspec.yaml
  dwds/lib/src/debugging/inspector.dart
  dwds/pubspec.yaml
  example/pubspec.yaml
  fixtures/_experimentSound/pubspec.yaml
  fixtures/_testCircular1Sound/pubspec.yaml
  fixtures/_testCircular2Sound/pubspec.yaml
  fixtures/_testHotRestart1Sound/pubspec.yaml
  fixtures/_testHotRestart2Sound/pubspec.yaml
  fixtures/_testPackageSound/pubspec.yaml
  fixtures/_testSound/pubspec.yaml
  fixtures/_webdevSoundSmoke/pubspec.yaml
  frontend_server_common/pubspec.yaml
  tool/ci.sh
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, dart-debug-extension, type-infra

#2453 Remove remaining MV2 logic
  dwds/debug_extension/tool/build_extension.dart
Labels: package:dwds, dart-debug-extension
