Repository dart-lang/webdev, pull requests merged in 2024-05, with the labels that each got.

#2423 Move DWDS launch event
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds, changelog-not-required

#2388 Register service extensions on a client that is connected to DDS
  dwds/CHANGELOG.md
  dwds/lib/src/connections/debug_connection.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/app_debug_services.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/services/debug_service.dart
  dwds/test/debug_service_test.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/reload_correctness_test.dart
  dwds/test/reload_test.dart
  example/web/main.dart
  webdev/lib/src/daemon/app_domain.dart
  webdev/test/daemon/app_domain_test.dart
Labels: package:webdev, package:dwds

#2429 Update CONTRIBUTING docs for DWDS
  dwds/CONTRIBUTING.md
Labels: package:dwds

#2433 blast repo changes: dependabot
  .github/dependabot.yml
Labels: type-infra

#2431 Wait for a `resume` event to run the `main()` method after a page refresh
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/connections/app_connection.dart
  dwds/lib/src/dwds_vm_client.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/reload_test.dart
Labels: package:dwds

#2430 Log a single error message when async or sync frame calculation fails
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/frame_computer.dart
Labels: package:dwds, changelog-not-required

#2437 Register a restart handler directly over the VM service connection
  dwds/lib/src/dwds_vm_client.dart
Labels: package:dwds, changelog-not-required

#2439 Add a reload handler along with a restart handler
  dwds/lib/src/dwds_vm_client.dart
Labels: package:dwds, changelog-not-required

#2441 Send a `kPausePostRequest` after restarting to notify clients to resume
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds

#2438 Implement the VM service `getFlagList` API
  dwds/CHANGELOG.md
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
Labels: package:dwds, run-dcm-workflow
