Repository dart-lang/webdev, pull requests merged in 2024-12, with the labels that each got.

#2530 Migrate to package:web v1.1.0
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/pubspec.yaml
  dwds/web/client.dart
  dwds/web/reloader/ddc_restarter.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/require_restarter.dart
  dwds/web/run_main.dart
Labels: package:dwds

#2531 Yj dartdevembedder 2488
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/metadata/class.dart
  dwds/lib/src/debugging/metadata/function.dart
  dwds/lib/src/loaders/ddc.dart
  dwds/lib/src/loaders/ddc_library_bundle.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/frontend_server_ddc_library_bundle_evaluate_test.dart
Labels: package:dwds

#2524 Update branch references to `main` branch
  .github/workflows/dart.yml
  README.md
  dwds/CONTRIBUTING.md
  dwds/pubspec.yaml
  frontend_server_client/pubspec.yaml
  tool/ci.sh
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds, package:frontend_server_client, type-infra

#2536 Prepare for DWDS 24.2.0 and Webdev 3.7.0 releases
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, package:dwds, publish-ignore-warnings, prepare-release

#2535 Added support for getClassMetadata with the DDc library bundle format
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/classes.dart
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/test/instances/class_inspection_amd_test.dart
  dwds/test/instances/class_inspection_ddc_library_bundle_test.dart
  dwds/test/instances/class_inspection_test.dart
  dwds/test/instances/common/class_inspection_common.dart
Labels: package:dwds

#2539 updates to be forward compatible with changes to package:shelf_web_socket
  dwds/CHANGELOG.md
  dwds/lib/src/handlers/socket_connections.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/build/ensure_version_test.dart
Labels: package:dwds

#2542 Update pattern test to account for new DDC JS variable naming
  dwds/test/instances/common/patterns_inspection_common.dart
Labels: package:dwds, changelog-not-required

#2543 [ webdev ] Set version to 3.7.1-wip
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev

#2541 Added support for some debugging APIs with the DDC library bundle format
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/lib/src/debugging/libraries.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/instance_inspection_amd_canary_test.dart
  dwds/test/instances/instance_inspection_amd_test.dart
  dwds/test/instances/instance_inspection_ddc_library_bundle_test.dart
Labels: package:dwds

#2545 Added support for some debugging APIs with the DDC library bundle format - part 4
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/lib/src/debugging/instance.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/record_inspection_amd_canary_test.dart
  dwds/test/instances/record_inspection_amd_test.dart
  dwds/test/instances/record_inspection_ddc_library_bundle_test.dart
Labels: package:dwds

#2552 [dwds] Add unbatching retry mechanism for failing batched expression evals
  dwds/CHANGELOG.md
  dwds/lib/src/services/batched_expression_evaluator.dart
  dwds/test/expression_evaluator_test.dart
  dwds/test/fixtures/fakes.dart
Labels: package:dwds

#2554 Handle unnecessary_non_null_assertion and invalid_null_aware_operator
  dwds/test/build/min_sdk_test.dart
  webdev/test/build/min_sdk_test.dart
Labels: package:webdev, package:dwds, changelog-not-required

#2547 Expose FrontendServerDdcLibraryBundleStrategyProvider, make vm_service_interface a min constraint, and publish 24.3.0
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release
