Repository dart-lang/webdev, pull requests merged in 2024-04, with the labels that each got.

#2405 Webdev integration_test should not check for string messages that come from pub
  webdev/test/integration_test.dart
Labels: package:webdev, changelog-not-required

#2406 Indicate whether an app is a Flutter app via the app ID
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/cider_connection.dart
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/debug_extension_mv3/web/popup.dart
  dwds/lib/src/services/chrome_proxy_service.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required

#2409 Update DDS to ^4.0.0
  dwds/pubspec.yaml
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2411 Update DDS to ^4.1.0
  dwds/pubspec.yaml
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2408 Catch errors when calculating frames in the stack trace
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/frame_computer.dart
  dwds/test/debugger_test.dart
Labels: package:dwds

#2410 Pin DCM to latest version
  .github/workflows/dcm.yml
Labels: type-infra

#2412 FE server common: move from pkg:usage to pkg:uuid
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/pubspec.yaml
Labels: changelog-not-required

#2415 remove the dep on package:uuid
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/uuid.dart
  frontend_server_common/pubspec.yaml
Labels: changelog-not-required

#2416 Fix test timeouts related to weak null safety
  dwds/test/build_daemon_circular_evaluate_test.dart
  dwds/test/build_daemon_evaluate_test.dart
  dwds/test/evaluate_circular_common.dart
  dwds/test/evaluate_common.dart
  dwds/test/frontend_server_callstack_test.dart
  dwds/test/frontend_server_circular_evaluate_test.dart
  dwds/test/frontend_server_ddc_evaluate_sound_test.dart
  dwds/test/frontend_server_ddc_evaluate_test.dart
  dwds/test/frontend_server_evaluate_test.dart
  dwds/test/instances/common/instance_inspection_common.dart
  dwds/test/instances/instance_inspection_canary_test.dart
  dwds/test/instances/instance_inspection_test.dart
Labels: package:dwds, changelog-not-required

#2413 Prepare DWDS for release to version 24.0.0
  dwds/CHANGELOG.md
  dwds/ignore_pubspec_overrides.yaml
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, publish-ignore-warnings, prepare-release

#2417 Prepare webdev for release to version 3.5.0
  webdev/CHANGELOG.md
  webdev/ignore_pubspec_overrides.yaml
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, prepare-release

#2419 Reset DWDS and WebDev to `-wip` versions after release
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/pubspec_overrides.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
  webdev/pubspec_overrides.yaml
Labels: package:webdev, package:dwds

#2418 Add `dwdsLaunch` and `dwdsAttach` events
  dwds/debug_extension_mv3/pubspec.yaml
  dwds/debug_extension_mv3/web/debug_session.dart
  dwds/debug_extension_mv3/web/manifest_mv3.json
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/data/devtools_request.dart
  dwds/lib/data/devtools_request.g.dart
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/events.dart
  dwds/lib/src/handlers/dev_handler.dart
Labels: package:dwds, dart-debug-extension, changelog-not-required
