Repository dart-lang/webdev, pull requests merged in 2024-02, with the labels that each got.

#2366 Fix failing record kind test
  dwds/test/instances/common/test_inspector.dart
Labels: package:dwds, changelog-not-required

#2360 Renaming "legacy" paths and DDC modules to "DDC" paths and modules.
  dwds/CHANGELOG.md
  dwds/lib/dwds.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/loaders/ddc.dart
  dwds/lib/src/loaders/frontend_server_ddc.dart
  dwds/test/fixtures/context.dart
  dwds/web/client.dart
  dwds/web/reloader/ddc_restarter.dart
Labels: package:dwds

#2373 Implement `setFlag` for 'pause_isolates_on_start'
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_test.dart
  dwds/test/fixtures/context.dart
Labels: package:dwds

#2371 Do not persist breakpoints across hot restarts or page refreshes
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/debugger.dart
  dwds/lib/src/debugging/location.dart
  dwds/lib/src/debugging/modules.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/fixtures/fakes.dart
  dwds/test/location_test.dart
  dwds/test/reload_test.dart
  dwds/test/restore_breakpoints_test.dart
  dwds/test/skip_list_test.dart
Labels: package:dwds, changelog-not-required

#2376 Disable `frontend_server_client_test` on windows
  frontend_server_client/test/frontend_server_client_test.dart
Labels: package:frontend_server_client, changelog-not-required
