Repository dart-lang/webdev, pull requests merged in 2025-01, with the labels that each got.

#2559 Add ignores for deprecated web libraries with a TODO and move dwds to 24.4.0-wip
  dwds/CHANGELOG.md
  dwds/debug_extension/web/chrome_api.dart
  dwds/debug_extension/web/cider_connection.dart
  dwds/debug_extension/web/copier.dart
  dwds/debug_extension/web/debug_info.dart
  dwds/debug_extension/web/detector.dart
  dwds/debug_extension/web/devtools.dart
  dwds/debug_extension/web/messaging.dart
  dwds/debug_extension/web/panel.dart
  dwds/debug_extension/web/popup.dart
  dwds/debug_extension/web/storage.dart
  dwds/debug_extension/web/utils.dart
  dwds/debug_extension/web/web_api.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  example/web/main.dart
  fixtures/_experimentSound/web/main.dart
  fixtures/_testCircular2Sound/web/main.dart
  fixtures/_testHotRestart2Sound/web/main.dart
  fixtures/_testPackageSound/web/main.dart
  fixtures/_testSound/example/append_body/main.dart
  fixtures/_testSound/example/hello_world/main.dart
  fixtures/_webdevSoundSmoke/web/main.dart
Labels: package:dwds, dart-debug-extension

#2549 Added support for some debugging APIs with the DDC library bundle format - part 5
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/debugging/instance.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/record_type_inspection_amd_canary_test.dart
  dwds/test/instances/record_type_inspection_amd_test.dart
  dwds/test/instances/record_type_inspection_ddc_library_bundle_test.dart
Labels: package:dwds

#2557 Rename copied SDK directory prefix from 'sdk copy' to 'sdk_copy'
  test_common/lib/test_sdk_configuration.dart
Labels: changelog-not-required

#2546 Allow for setting custom DDS port
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/data/build_result.g.dart
  dwds/lib/data/connect_request.g.dart
  dwds/lib/data/debug_event.g.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/data/devtools_request.g.dart
  dwds/lib/data/error_response.g.dart
  dwds/lib/data/extension_request.g.dart
  dwds/lib/data/register_event.g.dart
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/dds_port_test.dart
  dwds/test/fixtures/utilities.dart
Labels: package:dwds, prepare-release

#2568 [ DWDS ] Relax DDS constraint, prepare for 24.3.2 release
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release

#2569 [ DWDS ] Reset version to 24.3.3-wip
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

#2564 Added support for some debugging APIs with the DDC library bundle format
  .github/workflows/dcm.yml
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/chrome_proxy_service_amd_test.dart
  dwds/test/chrome_proxy_service_ddc_library_bundle_test.dart
  dwds/test/common/chrome_proxy_service_common.dart
  fixtures/_testSound/example/hello_world/index.html
  fixtures/_testSound/example/hello_world/main.dart
Labels: package:dwds, type-infra

#2576 Implement hot restart for DDC library bundle format and publish 24.3.3
  dwds/CHANGELOG.md
  dwds/lib/data/build_result.g.dart
  dwds/lib/data/connect_request.g.dart
  dwds/lib/data/debug_event.g.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/data/devtools_request.g.dart
  dwds/lib/data/error_response.g.dart
  dwds/lib/data/extension_request.g.dart
  dwds/lib/data/register_event.g.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/web/reloader/ddc_library_bundle_restarter.dart
Labels: package:dwds, prepare-release

#2580 Reset DWDS to 24.3.4-wip
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds

#2577 Added support for callLibraryMethod with the DDC library bundle format.
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/dart_runtime_debugger.dart
  dwds/lib/src/debugging/inspector.dart
  dwds/test/common/chrome_proxy_service_common.dart
Labels: package:dwds

#2581 Added support for getModuleLibraries with the DDC library bundle format
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/inspector.dart
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/instance_amd_canary_test.dart
  dwds/test/instances/instance_amd_test.dart
  dwds/test/instances/instance_ddc_library_bundle_test.dart
  fixtures/_testSound/example/scopes/main.dart
Labels: package:dwds

#2583 [dwds] Implement hot reload and publish 24.3.4
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/common/chrome_proxy_service_common.dart
  dwds/web/client.dart
  dwds/web/reloader/ddc_library_bundle_restarter.dart
  dwds/web/reloader/ddc_restarter.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/require_restarter.dart
  dwds/web/reloader/restarter.dart
Labels: package:dwds, prepare-release
