Repository dart-lang/webdev, pull requests merged in 2025-04, with the labels that each got.

#2588 Support custom hostname and TLS options
  fixtures/_experimentSound/localhost+2-key.pem
  fixtures/_experimentSound/localhost+2.pem
  webdev/CHANGELOG.md
  webdev/lib/src/serve/webdev_server.dart
  webdev/test/tls_test.dart
Labels: package:webdev, prepare-release

#2606 [dwds] Split hot reload callback into 2, disable breakpoints in changed files, and publish 24.3.10
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/loaders/frontend_server_strategy_provider.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/web/client.dart
  dwds/web/reloader/ddc_library_bundle_restarter.dart
  dwds/web/reloader/ddc_restarter.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/require_restarter.dart
  dwds/web/reloader/restarter.dart
Labels: package:dwds, prepare-release

#2608 Add support for hot restart tests in DWDS with the frontend server
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/build_daemon_hot_restart_correctness_test.dart
  dwds/test/build_daemon_hot_restart_test.dart
  dwds/test/common/hot_restart_common.dart
  dwds/test/common/hot_restart_correctness_common.dart
  dwds/test/fixtures/context.dart
  dwds/test/frontend_server_hot_restart_correctness_test.dart
  dwds/test/frontend_server_hot_restart_test.dart
  dwds/test/reload_correctness_test.dart
  dwds/test/reload_test.dart
  frontend_server_common/lib/src/bootstrap.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  frontend_server_common/lib/src/resident_runner.dart
Labels: package:dwds
