Repository dart-lang/webdev, pull requests merged in 2025-03, with the labels that each got.

#2594 Add hotReloadSourcesUri parameter to FrontendServerDdcLibraryBundleProvider and publish DWDS 24.3.6
  dwds/CHANGELOG.md
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/loaders/ddc_library_bundle.dart
  dwds/lib/src/loaders/frontend_server_strategy_provider.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/web/client.dart
  dwds/web/reloader/ddc_library_bundle_restarter.dart
  dwds/web/reloader/ddc_restarter.dart
  dwds/web/reloader/manager.dart
  dwds/web/reloader/require_restarter.dart
  dwds/web/reloader/restarter.dart
Labels: package:dwds, prepare-release

#2595 Add pull request and id-token write permissions to publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra, prepare-release

#2596 Roll dwds to 24.3.7-wip and webdev to 3.7.2-wip
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2597 [dwds] callServiceExtension should check all extensions and return kMethodNotFound when extension not found
  dwds/CHANGELOG.md
  dwds/lib/src/debugging/inspector.dart
  dwds/lib/src/services/chrome_proxy_service.dart
  dwds/test/common/chrome_proxy_service_common.dart
Labels: package:dwds

#2601 Updated DWDS to include a boolean flag that enables debugging support when set to true
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release

#2483 Add offline mode
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/README.md
  webdev/lib/src/command/configuration.dart
  webdev/lib/src/command/shared.dart
  webdev/lib/src/pubspec.dart
  webdev/test/installation_test.dart
  webdev/test/integration_test.dart
Labels: package:webdev, package:dwds

#2602 Renamed boolean flag in DWDS Injector
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release
