Repository dart-lang/webdev, pull requests merged in 2025-08, with the labels that each got.

#2661 Null safety cleanup in test runner code
  frontend_server_client/example/web_client.dart
  frontend_server_common/lib/src/devfs.dart
  frontend_server_common/lib/src/frontend_server_client.dart
  test_common/lib/test_sdk_configuration.dart
Labels: package:frontend_server_client

#2660 [dwds] Cleanup unused null safety related fields
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/data/build_result.g.dart
  dwds/lib/data/connect_request.g.dart
  dwds/lib/data/debug_event.g.dart
  dwds/lib/data/debug_info.g.dart
  dwds/lib/data/devtools_request.g.dart
  dwds/lib/data/error_response.g.dart
  dwds/lib/data/extension_request.g.dart
  dwds/lib/data/hot_reload_request.g.dart
  dwds/lib/data/hot_reload_response.g.dart
  dwds/lib/data/isolate_events.g.dart
  dwds/lib/data/register_event.g.dart
  dwds/lib/data/run_request.g.dart
  dwds/lib/data/service_extension_request.g.dart
  dwds/lib/data/service_extension_response.g.dart
  dwds/lib/src/debugging/metadata/provider.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/expression_compiler.dart
  dwds/lib/src/services/expression_compiler_service.dart
  dwds/lib/src/utilities/sdk_configuration.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/sdk_configuration_test.dart
Labels: package:dwds

#2673 [dwds] Pass reloaded sources path in all hot restart calls in client
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/web/client.dart
Labels: package:dwds, prepare-release

#2670 Delay edits to work around lack of millisecond precision in `stat` and migrate `pageSource` tests to use console logs
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/common/hot_restart_common.dart
  dwds/test/common/hot_restart_correctness_common.dart
  dwds/test/devtools_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/hot_reload_breakpoints_test.dart
  dwds/test/hot_reload_test.dart
  dwds/test/hot_restart_breakpoints_test.dart
  fixtures/_test/example/append_body/main.dart
  fixtures/_test_hot_reload/web/main.dart
  fixtures/_test_hot_restart2/web/main.dart
Labels: package:dwds, changelog-not-required

#2677 Remove stale calls to dartSdkIsAtLeast.
  dwds/test/instances/common/instance_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/type_inspection_common.dart
  test_common/lib/utilities.dart
  webdev/test/e2e_test.dart
Labels: package:webdev, package:dwds, changelog-not-required

#2678 [ DWDS ] Fix issue where null was repeatedly sent to connected clients
  dwds/CHANGELOG.md
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release

#2679 [ Hotfix ][ DWDS ] Fix issue where null was repeatedly sent to connected clients
  dwds/CHANGELOG.md
  dwds/lib/data/serializers.g.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release

#2681 [ DWDS ] Serve DevTools from DDS by default
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/dwds.dart
  dwds/lib/src/config/tool_configuration.dart
  dwds/lib/src/connections/debug_connection.dart
  dwds/lib/src/handlers/dev_handler.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/servers/devtools.dart
  dwds/lib/src/services/app_debug_services.dart
  dwds/lib/src/services/debug_service.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/test/common/hot_restart_common.dart
  dwds/test/common/hot_restart_correctness_common.dart
  dwds/test/dds_port_test.dart
  dwds/test/debug_extension_test.dart
  dwds/test/debug_service_test.dart
  dwds/test/devtools_test.dart
  dwds/test/events_test.dart
  dwds/test/fixtures/context.dart
  dwds/test/fixtures/utilities.dart
  dwds/test/handlers/injector_test.dart
  dwds/test/puppeteer/test_utils.dart
Labels: package:dwds, prepare-release
