Repository dart-lang/webdev, pull requests merged in 2025-06, with the labels that each got.

#2630 Update e2e_test expectation to look for more consistent message.
  webdev/test/e2e_test.dart
Labels: package:webdev

#2625 [dwds] DRY up MD5/etag logic
  dwds/lib/src/handlers/injector.dart
Labels: package:dwds, changelog-not-required, autosubmit

#2629 modifying DWDS Injector to always inject client and introduce useDwdsWebSocketConnection flag
  dwds/CHANGELOG.md
  dwds/lib/dart_web_debug_service.dart
  dwds/lib/src/handlers/injector.dart
  dwds/lib/src/injected/client.js
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  dwds/web/client.dart
Labels: package:dwds, prepare-release

#2637 Set package versions to WIP versions
  dwds/CHANGELOG.md
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
  webdev/CHANGELOG.md
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, package:dwds

#2636 Add tests covering the ability to debug dot shorthands
  dwds/test/instances/common/class_inspection_common.dart
  dwds/test/instances/common/dot_shorthands_common.dart
  dwds/test/instances/common/patterns_inspection_common.dart
  dwds/test/instances/common/record_inspection_common.dart
  dwds/test/instances/common/record_type_inspection_common.dart
  dwds/test/instances/common/test_inspector.dart
  dwds/test/instances/common/type_inspection_common.dart
  dwds/test/instances/dot_shorthands_amd_canary_test.dart
  dwds/test/instances/dot_shorthands_amd_test.dart
  dwds/test/instances/dot_shorthands_ddc_library_bundle_test.dart
  fixtures/_experimentSound/web/main.dart
  webdev/test/tls_test.dart
Labels: package:webdev, package:dwds, changelog-not-required
