Repository dart-lang/webdev, pull requests merged in 2025-02, with the labels that each got.

#2587 Added method findPackageConfigFilePath to find the package_config.json file
  dwds/CHANGELOG.md
  dwds/lib/src/loaders/build_runner_require.dart
  dwds/lib/src/loaders/ddc.dart
  dwds/lib/src/loaders/ddc_library_bundle.dart
  dwds/lib/src/loaders/frontend_server_strategy_provider.dart
  dwds/lib/src/loaders/require.dart
  dwds/lib/src/loaders/strategy.dart
  dwds/lib/src/version.dart
  dwds/pubspec.yaml
Labels: package:dwds, prepare-release

#2589 set packageConfigPath and update DWDS version to 24.3.5
  webdev/CHANGELOG.md
  webdev/lib/src/serve/utils.dart
  webdev/lib/src/serve/webdev_server.dart
  webdev/lib/src/version.dart
  webdev/pubspec.yaml
Labels: package:webdev, publish-ignore-warnings, prepare-release

#2579 Use 'compile js-dev' instead of invoking DDC directly
  dwds/CHANGELOG.md
  dwds/test/expression_compiler_service_common.dart
  frontend_server_client/example/web_client.dart
  test_common/lib/sdk_asset_generator.dart
  test_common/lib/test_sdk_layout.dart
Labels: package:dwds, package:frontend_server_client, prepare-release

#2591 Use AOT snapshot of kernel_worker
  test_common/lib/sdk_asset_generator.dart
Labels: changelog-not-required, prepare-release
